#header{
	background: $colorTema;
	margin-bottom: sizeEM(70);
	padding-bottom: sizeEM(28);

	@include mq($screen-sm-plus-min){
		height: sizeEM(75);
		margin-bottom: sizeEM(270);
		padding-bottom: 0;
	}	

	.index &{
		@include mq($screen-sm-plus-min){
			margin-bottom: sizeEM(380);
		}
	}
}

#header:after{
	@include mq($screen-sm-plus-min){
		background: $colorTema url(#{$img-root}/fondoCabeceraPortada.jpg) no-repeat 50% 50%;
		@include background-size(cover);
		content: ' ';
		height: sizeEM(200);
		left: 0;
		position: absolute;
		right: 0;
		top: sizeEM(75);
	}

	.index &{
		@include mq($screen-sm-plus-min){
			height: sizeEM(380);
		}
	}
}

header h1{
	@extend %text-replacement;
	
	padding-top: 28px;

	@include mq($screen-sm-plus-min){
		background: $colorFuente;
		padding-top: 0;
		position: relative;
		overflow: hidden;
		width: 14.012739%;
		z-index: 100;
	}

	.icon{
		@include transition(transform $animacionMedia ease);
		
		display: block;
		fill: $colorFuente;
		height: 210px;
		margin: 0 auto;
		width: 170px;

		@include mq($screen-sm-plus-min){
			fill: $colorTema;
			height: 142px;
			margin: 0 auto;
			padding-bottom: 36px;
			width: 48%;
		}
	}
}

header h1 a{
	&:hover{
		.icon{
			@include transform(scale(1.39) translatey(3px));
			@include transition(transform $animacionRapida ease);
		}
	}
}

header .enlaceBoton{
	@extend %altEnlaceBoton;

	@include mq($screen-sm-plus-min){
		@include font-size(15);

		padding-left: 0;
		padding-right: 0;
		position: absolute;
		right: 0;
		text-align: center;
		top: sizeEM(18, 15);
		width: anchoPorcentaje(132);	
	}
}

#header .row{
	@include mq($screen-sm-plus-min){
		position: relative;
	}
}