#main-nav{
	@include font-size(15);
	
	color: $colorFuente;
	display: none;
	font-family: $fontFamilyLight;
	padding-top: 2.5em;

	@include mq($screen-sm-plus-min){
		display: block;
		left: anchoPorcentaje(323);
		padding-top: sizeEM(25,15);
		position: absolute;
		top: 0;
		width: anchoPorcentaje(456);		
	}
}

#main-nav a{
	color: $colorEnlaceMenu;
	text-decoration: none;
}

#main-nav ul{
	list-style: none;
	margin: 0;
	padding-left: 0;
}

#main-nav > ul{
	@include mq($screen-sm-plus-min){
		@include display-flex;
		@include justify-content(space-between);
	}
}

#main-nav > ul > li{
	font-family: $fontFamily;
	margin-bottom: sizeEM($lineHeightBasico * 1.75);

	@include mq($screen-sm-plus-min){
		float: left;
	}

	> a{
		@extend %opcionPrincipalMenu;

		&:after{
			@extend %separadorAfter;

			@include mq($screen-sm-plus-min){
				bottom: sizeEM(-24, 15);
			}
		}

		&:hover:after{
			@extend %separadorHoverAfter;
		}
	}

	&.active > span{
		@extend %opcionPrincipalMenu;

		&:after{
			@extend %separadorAfter;
			@extend %separadorHoverAfter;

			bottom: sizeEM(-24, 15);
		}
	}

	li{
		@include font-size(16);
		font-family: $fontFamilyLight;
	}

	li > a{
		display: inline-block;
		white-space: nowrap;

		@include mq($screen-sm-plus-min){
			color: $colorTema;
			padding: .25em 2em;
		}

		&:after{
			@extend %separadorAfter;

			height: 1px;
			position: static;
			width: 0;

			@include mq($screen-sm-plus-min){
				background: $colorTema;
			}
		}

		&:hover:after{
			@extend %separadorHoverAfter;
		}
	}
}

#main-nav ul ul{
	line-height: 1.6em;

	@include mq($screen-sm-plus-min){
		background: $colorFuente;
		display: none;
		padding: 1.5em 0;
		position: absolute;
		top:75px;
		z-index: 100;
	}

	> li.active > span{
		@include mq($screen-sm-plus-min){
			color: $colorTema !important;
			padding: .25em 2em;
		}	
	}
}

.active > span{
	font-family: $fontFamily;	
}

// ---- Mobile menu
#mobileMenu{
	background: $colorTema;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;

	@include mq($screen-sm-plus-min){
		display: none;
	}
}

#mobileMenu .openCloseButton{
	background: $colorTema;
	border: 0;
	left: 2em;
	padding-left: 0;
	padding-right: 0;
	position: absolute;
	top: 10px;
	z-index: 101;

	b{
		font-weight: normal;
		display: block;
		margin-top: 8px;
	}

	.icon{
		@include transition(background $animacionMedia ease);

		background: $colorFuente;
		height: 3px;
		width: 40px;

		&:before,
		&:after{
			@include transform(translateY(-10px));
			@include transition(transform $animacionMedia ease);

			background: $colorFuente;
			content: '';
			display: block;
			height: 3px;
			width: 40px;
		}

		&:after{
			@include transform(translateY(7px));
		}		
	}
}

#mobileMenu.openedMenu .icon:before{
	@include transform(translateY(0) rotate(45deg));
	@include transition(transform $animacionRapida ease);
}

#mobileMenu.openedMenu .icon{
	@include transition(background $animacionRapida ease);
	background: rgba($colorFuente, 0);
}

#mobileMenu.openedMenu .icon:after{
	@include transform(translateY(-3px) rotate(-45deg));
	@include transition(transform $animacionRapida ease);
}


#mobileMenu .closeButton{
	display: none;
	position: absolute;
	right: 0;
	top: 0;
}

#mobileMenu .clonedMenu{
	@include box-shadow(0 0 12px rgba(#000, .25));

	background: $colorTema;
	padding: 6em 2em 2em;
	position: relative;
	z-index: 100;
}