#patrocinadoresFooter,
#colaboradoresFooter{
	background: #eee;
	clear: both;
	padding: 4em 0;
	
	ul{
		@extend %patrocinadoresGaleria;
		
		margin-bottom: 0;
		padding: 0;
	}
	
	ul img{
		mix-blend-mode: multiply;
	}
	
	ul:after{
		@include mq($screen-sm-min){
			@include clearfixAfter;
		}
	}
}

#colaboradoresFooter{
	margin-top: -4em;
	padding-bottom: 1em;
	padding-top: 1em;

	ul > li{
		margin-bottom: 4em;
	}
}