---
title: "Ecomuseo Valle de Samuño"
---

<div id="content-block">
	<h2>Ecomuseo Valle de Samuño</h2>
	<figure class="fotoDerecha figure">
		<a href="<%= compute_path("images/ecomuseo/ecomuseo01.jpg") %>" title="Ampliar" class="gallery">
			<%= image_tag 'ecomuseo/ecomuseo01.jpg', :class => 'figure-img', :alt => 'Tren del Ecomuseo aproximándose a la entrada del Túnel bajo el Pozo Samuño. Fuente: Flor María Menéndez (Wikimedia)' %>
		</a>
		<figcaption class="pieFoto figure-caption">
			Tren del Ecomuseo aproximándose a la entrada del Túnel bajo el Pozo Samuño. Fuente: Flor María Menéndez (<a href="https://commons.wikimedia.org/wiki/File:Tren_minero.JPG" title="Ir a la web de Wikimedia">Wikimedia</a>)
		</figcaption>
	</figure>		
	<p>Tras el cierre en 2002 del Pozo San Luis y con el panorama en franco declive de la minería en Asturias se hizo necesario buscar nuevas maneras de generar riqueza. Para ello, como no podía ser de otra manera dadas las circunstancias socio-económicas, se pensó en hacer una puesta en valor del rico patrimonio industrial de la zona. Además, el caso del Pozo San Luis resulta especialmente interesante tanto por su conservación como por su <a href="patrimonioindustrial.html" title="Ver información sobre el Pozo San Luis">singular arquitectura</a>, por lo que se iniciaron los trámites para su declaración como Bien de Interés Cultural, que llevaría a cabo finalmente el Principado en 2013.</p>
	<p>Por otro lado, aprovechando la importante infraestructura existente se decidió crear también un tren que, partiendo de la estación de El Cadavíu permitiese un acceso más interesante a las instalaciones del Pozo San Luis.</p>
	<p>Para la adecuación y rehabilitación de todo el entorno fue necesaria una inversión de casi 10 millones de euros procedentes de Fondos Mineros (plan 1998-2005). También es destacable el trabajo de varias Escuelas Taller y Talleres de Empleo que colaboraron con la rehabilitación de los distintos edificios.</p>
	<p>Podría decirse que el <a href="http://www.ecomuseominero.es/" title="Ir a la web del Ecomuseo">Ecomuseo Minero del Valle de Samuño</a> constituye el complemento cultural perfecto para la carrera.</p>		
</div>