---
title: "Langreo"
---

<div id="content-block">
	<h2>Langreo</h2>
	<figure class="fotoDerecha figure">
		<a href="<%= compute_path("images/ecomuseo/ecomuseo01.jpg") %>" title="Ampliar" class="gallery">
			<%= image_tag 'ecomuseo/ecomuseo01.jpg', :class => 'figure-img', :alt => 'Tren del Ecomuseo aproximándose a la entrada del Túnel bajo el Pozo Samuño. Fuente: Flor María Menéndez (Wikimedia)' %>
		</a>
		<figcaption class="pieFoto figure-caption">
			Tren del Ecomuseo aproximándose a la entrada del Túnel bajo el Pozo Samuño. Fuente: Flor María Menéndez (<a href="https://commons.wikimedia.org/wiki/File:Tren_minero.JPG" title="Ir a la web de Wikimedia">Wikimedia</a>)
		</figcaption>
	</figure>		
	<p></p>		
</div>