---
title: "Langreo"
---

<div id="content-block">
	<h2>Langreo</h2>
	<figure class="fotoDerecha estrecha figure">
		<a href="<%= compute_path("images/langreo/langreo.jpg") %>" title="Ampliar" class="gallery">
			<%= image_tag 'langreo/langreo.jpg', :class => 'figure-img', :alt => 'Vistas de Langreo desde la parte final del trail' %>
		</a>
	</figure>		
	<p>El Valle de Samuño se encuentra situado en el municipio de Langreo, uno de los concejos de la zona centro de Asturias y, más concretamente, de la Cuenca Minera del Nalón, siendo la cabecera de la misma. La mayor parte de la población se encuentra en la vega de dicho río, en los distritos de La Felguera, Sama, Ciaño, Lada, Riaño y Barros por ser el terreno más favorable. El resto del concejo, en su mayor parte, está configurado por valles secundarios (como el de Samuño) y un relieve más acusado.</p>		
	<p>El pasado más reciente del concejo ha estado marcado por una importante industrialización, centrada básicamente en la extracción de carbón y la siderurgia. Las huellas de dichas actividades están aún muy presentes en el municipio, que se encuentra sembrado de pozos mineros y antiguas industrias. Sin embargo, con el cierre previsto del Pozo María Luisa el 31 de diciembre de 2016 (el último activo de Langreo) se puede dar por concluida definitivamente esta etapa.</p>
	<p>A consecuencia del fin de la actividad industrial, al menos a la escala antigua, se hizo necesario buscar alternativas para la estimulación económica en la zona y una de las ideas puestas en marcha fue la transformación de las instalaciones mineras e industriales en museos, siendo el MUSI en el distrito de La Felguera el representante de la siderurgia y el Ecomuseo Valle de Samuño el de la minería.</p>
	<p></p>
</div>