---
title: "Paisaje Protegido de las Cuencas Mineras"
---

<div id="content-block">
	<h2>Paisaje Protegido de las Cuencas Mineras</h2>
	<figure class="fotoDerecha estrecha figure">
		<a href="<%= compute_path("images/paisajeProtegido/cascada.jpg") %>" title="Ampliar" class="gallery">
			<%= image_tag 'paisajeProtegido/cascada.jpg', :class => 'figure-img', :alt => 'Pequeño salto de agua en la primera parte del recorrido' %>
		</a>
	</figure>
	<p>Prácticamente todo el recorrido de la carrera discurre por el Paisaje Protegido de las Cuencas Mineras. Aunque a priori pueda parecer una contradicción crear un Paisaje Protegido en una zona que ha sufrido una fuerte industrialización como son las Cuencas Mineras, basta con recorrerlo para darse cuenta del por qué. Y no sólo por el hecho de incluir la mítica Peña Mea, lugar de peregrinación para cualquier aficionado a la naturaleza en Asturias, sino a todo su conjunto.</p>
	<p>Sin embargo, eclipsado por otras zonas próximas como el Aramo, el Parque de Redes o el Parque Natural de las Ubiñas - La Mesa, lo cierto es que el desconocimiento del lugar es bastante grande (excepción hecha de Peña Mea, como ya se ha señalado) y ni la promoción ni las medidas como el marcado de senderos de Pequeño Recorrido parecen haber ayudado a su difusión. Además, la visita a estos parajes nos permitirá complementarlas con otros aspectos como el <a href="patrimonioindustrial.html" title="Ver información sobre patrimonio industrial del valle de Samuño">patrimonio industrial</a> de no menor interés.</p>

	<h3>Territorio</h3>
	<p>En el Principado de Asturias existen cuatro categorías legales de protección de espacios naturales: Parques, Reservas Naturales, Monumentos Naturales y Paisajes Protegidos.</p>

	<p>En 2002 la Consejería de Medio Ambiente del Principado de Asturias promulgó el <a href="https://sede.asturias.es/portal/site/Asturias/menuitem.1003733838db7342ebc4e191100000f7/?vgnextoid=d7d79d16b61ee010VgnVCM1000000100007fRCRD&fecha=01/04/2002&refArticulo=2002-1401002&i18n.http.lang=es" title="Ver el decreto en el BOPA">decreto 36/2002</a> por el que se declara el Paisaje Protegido de las Cuencas Mineras, que comprende parte de los términos municipales de Langreo, Laviana, Mieres y San Martín del Rey Aurelio y con una superficie de 132.25km<sup>2</sup>.</p>

	<p>En el propio decreto la creación del Paisaje Protegido se justifica así:</p>
	<blockquote>La zona propuesta es una de las más representativas del área central de Asturias y más concretamente del ámbito de las Cuencas Mineras y donde se conserva un paisaje característico de un manejo del territorio basado en actividades tradicionales agrícolas, ganaderas, forestales, así como las derivadas de la actividad industrial y extractiva. En ella resulta de gran interés, por un lado, la conservación y protección de las especies de flora y fauna y de sus hábitats, atendiendo a su singularidad y escasa representación en la zona central de Asturias, y por el otro, su conexión con otro espacio protegido, el Parque Natural de Redes.</blockquote>

	<p>En cuanto al paisaje humano del Valle, está compuesto por pequeños núcleos y caseríos dispersos en las laderas de los montes, rodeados con frecuencia de prados y pastos. En las zonas altas existen aún numerosas cabañas, vestigios de la antigua actividad ganadera de la zona.</p>

	<h3>Flora y fauna</h3>
	<p>Influida por la composición del suelo (principalmente areniscas, aunque también existen zonas de calizas) y los usos humanos del territorio la composición vegetal del Valle de Samuño se divide principalmente en dos grupos:</p>
	<ul>
		<li>Zonas de bosques, dominadas por castaños, aunque con presencia también de robles y hayas. En el caso de los bosques de ribera también otras especies como alisos.</li>
		<li>Zonas de matorrales, con preponderancia de brezos y tojos (árgomas).</li>
	</ul>

	<p>El helecho es también una especie muy presente en todo el Valle.</p>

	<p>En lo referente a la fauna, algunas de las especies más comunes y sencillas de avistar son el corzo o el jabalí y numerosas aves típicas de la zona central de Asturias, como el cuco, con su característico canto. También están presentes las truchas en las aguas del río Samuño.</p>

	<h3>Qué ver</h3>
	<p>Algunos de los puntos más interesantes de esta zona desde el punto de vista paisajístico son:</p>
	<ul>
		<li>La Senda de los Molinos: tramo inicial de la carrera, se trata de un sendero de Pequeño Recorrido que asciende desde La Nueva a El Tendeyón en paralelo al río Samuño por un camino empedrado y a través de un espectacular bosque más propio de otras zonas de Asturias. Puede ser una buena opción para caminar con los más pequeños de la casa.</li>
		<li>Vuelta a Langreo: este sendero de pequeño recorrido realiza la circunvalación del municipio y uno de sus tramos más destacables bordea precisamente el Valle de Samuño.</li>
		<li>Techo del concejo de Langreo Cogollu o San Justo: para los más montañeros puede ser un aliciente tanto por la ascensión en sí como por las panorámicas de la zona central de Asturias que se pueden contemplar desde su cima. Se trata del punto más alto por el que transita la carrera.</li>
		<li>Alto de Las Cruces (alto Urbiés): para los menos aventureros, existe la posibilidad de disfrutar también del entorno subiendo por la carretera LA-7 hasta este alto cuyas vistas merecen, como mínimo, una pequeña parada. También es un buen punto de observación de la carrera.</li>
	</ul>
</div>