---
title: "Patrocinadores"
---

<div id="content-block">
	<h2>Patrocinadores</h2>
	<ul class="patrocinadores">
		<% data.patrocinadores.empresas.each do |empresa| %>
			<li>
				<a href="<%= empresa.link %>" title="<%= empresa.linktitle %>">
					<img src="../images/patrocinadores/<%= empresa.image %>" alt="<%= empresa.name %>" />
				</a>
			</li>
		<% end %>
	</ul>
	<p>
		Si desea colaborar con un patrocinio en el Trail Valle de Samuño puede ponerse en <a href="../contacto.html" title="Ir a la sección de contacto">contacto</a> con nosotros.
	</p>
</div>