---
title: Alojamientos - Trail Valle de Samuño
---

<div id="content">
	<div class="row">
		<h2>Alojamientos</h2>
		<p>Próximamente se publicará una lista de alojamientos para facilitar la asistencia a la carrera.</p>
	</div>
</div>