---
title: "Cómo llegar - "
---

<div id="content">
	<div class="row">
		<h2>Cómo llegar</h2>
		<iframe class="wikilocMap" src="https://www.google.com/maps/d/embed?mid=12ZaKnFOdqyuIaU7Sj0ZXHYbh3_0" width="640" height="480"></iframe>

		<p>
			<a href="https://www.google.com/maps/place/43%C2%B015'41.3%22N+5%C2%B040'26.2%22W/@43.2614839,-5.6761287,579m/data=!3m2!1e3!4b1!4m5!3m4!1s0x0:0x0!8m2!3d43.26148!4d-5.67394" title="Abrir en Google Maps"><svg class="icon marker">
					<use xlink:href="<%= compute_path("images/map.svg") %>#marker"></use>
				</svg>43.26148, -5.67394</a>
		</p>

		<h3>Desde el centro de Asturias</h3>
		<p>Tomar dirección Oviedo y, una vez en las proximidades (o desde el mismo Oviedo) en dirección Langreo/Santander. Tomar la salida 26 en dirección Langreo y por la AS-17 y la AS-117 hasta la salida para Ciaño. En Ciaño, a la altura de la iglesia se toma la LA-7 hacia La Nueva, a donde se llega tras unos 3 km.</p>

		<h3>Desde la zona de Gijón</h3>
		<p>Tomar la AS-I (Autovía Minera) abandonándola por la salida 9, a la altura de Riaño. Seguir por la AS-17 y la AS-117 hasta la salida para Ciaño. Una vez aquí, a la altura de la iglesia se toma la LA-7 hacia La Nueva, a donde se llega tras unos 3km.</p>
	</div>
</div>