---
title: "Dónde dormir"
---

<div id="content-block">
	<h2>Dónde dormir</h2>
	<h3><a href="https://lavallicuerra.com/" title="Ir a la web de La Vallicuerra">La Vallicuerra, casas de aldea</a></h3>
	<figure class="fotoDerecha figure">
		<a href="../images/alojamientos/vallicuerra.webp" title="Ampliar" class="gallery">
			<img src="../images/alojamientos/vallicuerra.webp" class="figure-img" alt="Vistas de las casas de aldea de La Vallicuerra">
		</a>
	</figure>
	<ul>
		<li>
			<a href="https://lavallicuerra.com/" title="Ir a la web de La Vallicuerra">https://lavallicuerra.com/</a> 
		</li>
		<li>
			Pet friendly
		</li>
	</ul>
	<p>
		Situados en el pueblo de La Hueria de Urbiés, a pocos kilómetros de la salida de la carrera, los alojamientos se componen de 4 casas rurales de contratación íntegra que preservan su rusticidad e historia.
	</p>
	<p>
		Se encuentran en el Valle de Turón, Paisaje Protegido de magnífica belleza, perteneciente al concejo de Mieres. Es el destino perfecto para las personas que les gusta el campo y la montaña, pero también para aquellas que quieren descubrir algo nuevo.
	</p>
	<p>
		Las casas de más de 100 años de historia, son ideales para que reconectéis con la naturaleza que nos rodea y descubráis un sin fin de lugares donde poder desconectar de la rutina.
	</p>
	<p>
		Además, todas las cocinas de las casas tienen todo el menaje para una estancia agradable. También en los baños se dejarán sus amenities naturales y secador de pelo y sus productos de limpieza son ecológicos.
	</p>
	<h3 class="aparte">Autocaravanas</h3>
	<iframe class="wikilocMap" data-src="https://www.google.com/maps/d/u/2/embed?mid=1qT1FGXfx_Nz7iZGRDU1lpZQF_0wxgEs&ehbc=2E312F" width="640" height="480"></iframe>

	<p><a href="https://www.google.com/maps/place/43%C2%B016'41.9%22N+5%C2%B040'27.8%22W/@43.2783139,-5.6765787,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x0!8m2!3d43.27831!4d-5.67439" title="Ver en Google Maps"><svg class="icon marker">
				<use xlink:href="<%= compute_path("images/map.svg") %>#marker"></use>
			</svg>43.27831, -5.67439</a></p>

	<p>Muy próximo al inicio/fin de la carrera (unos 2km) existe un Área para autocaravanas, en el pueblo de El Cadavíu, a escasos metros de la estación inferior del tren del <a href="../entorno/ecomuseo.html" title="Ver información sobre el Ecomuseo">Ecomuseo Minero Valle de Samuño</a>.</p>
</div>