---
title: "Política de calidad"
---

<div id="content-block">
	<h2>Política de calidad</h2>
	<p>El Trail Valle de Samuño es una carrera de montaña organizada por el GM Cumbre Llangreu basándose en los siguientes principios:</p>
	<ol>
		<li><strong>Respeto al medio ambiente:</strong> en todos los procesos y actividades y muy especialmente en aquellas que tengan lugar en el Espacio Protegido de las Cuencas Mineras se procederá de la manera más conveniente para la conservación del medio.</li>
		<li><strong>Atención al corredor:</strong> al tratarse de una prueba deportiva con un marcado carácter popular, se dará la misma importancia a todos los corredores, independientemente de su clasificación o nivel.</li>
		<li><strong>Fomento de la práctica deportiva:</strong> uno de los principales fines de la prueba será el impulsar la práctica deportiva de los participantes, voluntarios y organizadores, llevándose a cabo, además en un entorno natural.</li>
		<li><strong>Deportividad:</strong> la organización se compromete a perseguir y castigar todo tipo de trampas y actitudes incorrectas. Asimismo se intentará premiar aquellas actitudes positivas, de respeto y espíritu deportivo.</li>
		<li><strong>Promoción de los recursos naturales del Concejo:</strong> dado que sólo es posible proteger algo cuando se conoce se pondrá en valor a través de los distintos canales el patrimonio natural del Valle de Samuño.</li>
		<li><strong>Promoción del patrimonio industrial de Langreo:</strong> debido a su gran interés, también se pondrá en valor a través de los canales disponibles el patrimonio industrial del Valle de Samuño, encabezado por su Ecomuseo Minero.</li>
		<li><strong>Promoción de los pueblos del Valle de Samuño:</strong> esta carrera no tendría sentido sin las gentes que han habitado en el Valle desde hace generaciones, creado los caminos que utilizamos y modelado el paisaje para dejarlo tal como hoy lo conocemos. Se buscará siempre su consejo y alcanzar un consenso que beneficie a ambas partes.</li>
		<li><strong>Fomento del trabajo en equipo y solidaridad:</strong> organización, voluntarios, fotógrafos, público, participantes,... todos forman parte del evento y sin ellos deja de tener sentido. Se fomentará la colaboración entre todos ellos.</li>
		<li><strong>Compromiso con los negocios del Concejo y el entorno:</strong> esta carrera no sería posible sin el apoyo de muchos negocios, mayoritariamente del Concejo de Langreo y alrededores. Por ello, siempre que sea posible se recurrirá también a ellos cuando se necesiten materiales para la carrera.</li>
		<li><strong>Excelencia:</strong> todas las actividades que se hagan se pondrán en práctica únicamente cuando se pueda garantizar un resultado óptimo de las mismas.</li>
		<li><strong>Innovación y creatividad:</strong> a la hora de tomar decisiones se intentará buscar soluciones originales y alternativas con el afán de lograr avanzar en el proceso organizativo explorando nuevas posibilidades.</li>
		<li><strong>Atención a la salud:</strong> en todo momento y de manera especial durante el desarrollo de la prueba se cuidará de la salud de todas las personas implicadas (participantes, voluntarios, público,...) velando por su seguridad y salud.</li>
	</ol>
</div>