---
title: "Preguntas frecuentes"
---
<div id="content-block">
	<ul class="noBullets">
		<li class=""><a href="#vasos" title="Ir a la respuesta">¿Habrá vasos disponibles en los avituallamientos?</a></li>
		<li class=""><a href="#cobertura" title="Ir a la respuesta">¿Habrá cobertura de móvil en La Nueva (salida/meta)?</a></li>
		<li class=""><a href="#aparcamiento" title="Ir a la respuesta">¿Es difícil aparcar en la zona de salida/meta?</a></li>
		<li class=""><a href="#duchas" title="Ir a la respuesta">¿Habrá duchas con agua caliente para cuando llegue a meta?</a></li>
	</ul>

	<h2>Preguntas frecuentes</h2>
	<h3 id="vasos">¿Habrá vasos disponibles en los avituallamientos?</h3>
	<div>
		<p>Lo sentimos, pero la respuesta es <b>no.</b> Al igual que en otras muchas carreras, será necesario portar un vaso u otro tipo de recipiente para avituallarse. Tras los primeros años donde comprobamos la cantidad de residuos que se generan cuando se utilizan elementos desechables es un despropósito hemos optado por ir eliminándolos progresivamente: vasos y balizas han sido los pasos implementados hasta la fecha. Para facilitar esta transición, en una edición hemos entregado en la bolsa del corredor un vaso plegable de tan solo 12gr muy fácil de transportar.</p>
	</div>
	
	<h3 id="cobertura">¿Habrá cobertura de móvil en La Nueva (salida/meta)?</h3>
	<div>
		<p>La única compañía con cobertura de móvil en la zona de salida/meta es Vodafone. Si tu móvil es de otra compañía te recomendamos que avises a tus familiares y amigos que estarás desconectado unas horas. Quizás sea una buena oportunidad para vivir más intensamente la carrera y compartirla con la gente que te encuentres.</p>
		<p>Desde la organización del Trail Valle de Samuño pensamos que el final de la carrera saliendo del pozo, de la oscuridad a la luz, del silencio al aplauso, de la soledad a la muchedumbre... es el final más épico que os podemos ofrecer, por lo que creemos que el sacrificio merece la pena. También queremos llenar de vida por unas horas un pueblo para intentar que no acabe formando parte de la España vaciada.</p>
	</div>

	<h3 id="aparcamiento">¿Es difícil aparcar en la zona de salida/meta?</h3>
	<div>
		<p>El aparcamiento en la plaza del pozo San Luis (zona de salida/meta) y en el pueblo es escaso. Existen más plazas en el antiguo campo de fútbol, con el inconveniente de tener que subir y bajar una cuesta cada vez que se quiera ir hasta el coche.</p>
		<p>Desde la organización del Trail Valle de Samuño pensamos que el final de la carrera saliendo del pozo, de la oscuridad a la luz, del silencio al aplauso, de la soledad a la muchedumbre... es el final más épico que os podemos ofrecer, por lo que creemos que el sacrificio merece la pena. También queremos llenar de vida por unas horas un pueblo para intentar que no acabe formando parte de la España vaciada.</p>
	</div>

	<h3 id="duchas">¿Habrá duchas con agua caliente para cuando llegue a meta?</h3>
	<div>
		<p>Sabemos que algunos os habéis tenido que duchar en agua fría, probablemente más hombres que mujeres y lógicamente cuanto más se tarde peor. Es un tema que aquellos que habéis estado en más de una edición habréis visto evolucionar: hemos probado todo tipo de soluciones, entre ellas ofrecer un servicio gratuito de autobús para ducharse en el poliderportivo de Ciaño (que rehusaron utilizar todos los corredores) y, finalmente, gracias a la colaboración del Ayuntamiento de Langreo se llegó a las casetas de 2022.</p>
		<p>Desde la organización del Trail Valle de Samuño pensamos que el final de la carrera saliendo del pozo, de la oscuridad a la luz, del silencio al aplauso, de la soledad a la muchedumbre... es el final más épico que os podemos ofrecer, por lo que creemos que el sacrificio merece la pena. También queremos llenar de vida por unas horas un pueblo para intentar que no acabe formando parte de la España vaciada.</p>
	</div>
	
</div>