---
title: "Preguntas frecuentes"
---
<div id="content-block">
	<ul class="noBullets">
		<li class=""><a href="#vasos" title="Ir a la respuesta">쮿abr치 vasos disponibles en los avituallamientos?</a></li>
		<li class=""><a href="#cobertura" title="Ir a la respuesta">쮿abr치 cobertura de m칩vil en La Nueva (salida/meta)?</a></li>
		<li class=""><a href="#aparcamiento" title="Ir a la respuesta">쮼s dif칤cil aparcar en la zona de salida/meta?</a></li>
		<li class=""><a href="#duchas" title="Ir a la respuesta">쮿abr치 duchas con agua caliente para cuando llegue a meta?</a></li>
	</ul>

	<h2>Preguntas frecuentes</h2>
	<h3 id="vasos">쮿abr치 vasos disponibles en los avituallamientos?</h3>
	<div>
		<p>Lo sentimos, pero la respuesta es <b>no.</b> Al igual que en otras muchas carreras, ser치 necesario portar un vaso u otro tipo de recipiente para avituallarse. Tras los primeros a침os donde comprobamos la cantidad de residuos que se generan cuando se utilizan elementos desechables es un desprop칩sito hemos optado por ir elimin치ndolos progresivamente: vasos y balizas han sido los pasos implementados hasta la fecha. Para facilitar esta transici칩n, en ediciones anteriores hemos entregado en la bolsa del corredor un vaso plegable de tan solo 12gr muy f치cil de transportar.</p>
	</div>
	
	<h3 id="cobertura">쮿abr치 cobertura de m칩vil en La Nueva (salida/meta)?</h3>
	<div>
		<p>La 칰nica compa침칤a con cobertura de m칩vil en la zona de salida/meta es Vodafone. Si tu m칩vil es de otra compa침칤a te recomendamos que avises a tus familiares y amigos que estar치s desconectado unas horas. Quiz치s sea una buena oportunidad para vivir m치s intensamente la carrera y compartirla con la gente que te encuentres.</p>
		<p>Desde la organizaci칩n del Trail Valle de Samu침o pensamos que el final de la carrera saliendo del pozo, de la oscuridad a la luz, del silencio al aplauso, de la soledad a la muchedumbre... es el final m치s 칠pico que os podemos ofrecer, por lo que creemos que el sacrificio merece la pena. Tambi칠n queremos llenar de vida por unas horas un pueblo para intentar que no acabe formando parte de la Espa침a vaciada.</p>
	</div>

	<h3 id="aparcamiento">쮼s dif칤cil aparcar en la zona de salida/meta?</h3>
	<div>
		<p>El aparcamiento en la plaza del pozo San Luis (zona de salida/meta) y en el pueblo es escaso. Existen m치s plazas en el antiguo campo de f칰tbol, con el inconveniente de tener que subir y bajar una cuesta cada vez que se quiera ir hasta el coche.</p>
		<p>Como se explic칩 en la respuesta anterior, desde la organizaci칩n priorizamos el espect치culo en carrera por encima de la log칤stica, aunque somos conscientes del problema que ello supone y en cada edici칩n trabajamos para introducir mejoras.</p>
	</div>

	<h3 id="duchas">쮿abr치 duchas con agua caliente para cuando llegue a meta?</h3>
	<div>
		<p>Sabemos que algunos os hab칠is tenido que duchar en agua fr칤a, probablemente m치s hombres que mujeres y l칩gicamente cuanto m치s se tarde peor. Es un tema que aquellos que hab칠is estado en m치s de una edici칩n habr칠is visto evolucionar: hemos probado todo tipo de soluciones, entre ellas ofrecer un servicio gratuito de autob칰s para ducharse en el poliderportivo de Cia침o (que rehusaron utilizar todos los corredores) y, finalmente, gracias a la colaboraci칩n del Ayuntamiento de Langreo se lleg칩 a las casetas de 2022.</p>
		<p>Como organizaci칩n somos conscientes de la incomodidad que ello supone (de hecho nos ha tocado en m치s de una ocasi칩n como corredores 游땐) y por ello cada a침o buscamos soluciones que nos ayuden a mejorar el que (somos conscientes) es el aspecto menos positivo de la carrera.</p>
	</div>
	
</div>