---
title: "Reconocimientos"
---

<div id="content-block">
	<h2>Reconocimientos</h2>
	<p>A lo largo de estos años hemos visto recompensado nuestro esfuerzo con varios galardones de diversos tipos.</p>
	<h3 id="calidadTuristica2019">Calidad turística de Langreo (2019)</h3>
	<figure class="fotoDerecha estrecha figure">
		<a href="../images/informacion/calidadturisticalangreo.png" title="Ampliar" class="gallery">
			<img style="max-height: 125px" src="../images/informacion/calidadturisticalangreo.png" class="figure-img" alt="Langreo Calidad Turística">
		</a>
	</figure>
	<p>En el año 2019 el Ayuntamiento de Langreo lanzó una marca de Calidad Turística con el fin de destacar la labor de museos, establecimientos de hostelería y eventos culturales y deportivos en ámbitos como la sostenibilidad, calidad y excelencia en el trato a los usuarios. 
	Entre los eventos acreditados se encontraba el Trail Valle de Samuño principalmente por ser un evento que trasciende lo meramente deportivo aunando además aspectos turísticos y culturales (Ecomuseo Minero Valle de Samuño), naturales (la mayor parte del recorrido transcurre por el Paisaje Protegido de las Cuencas Mineras) y sociales (poniendo en valor un pueblo como La Nueva que ha perdido mucha población en las últimas décadas).
	Para la organización supuso un espaldarazo a su filosofía de evento polifacético y de promoción de la parte verde de un concejo típicamente asociado a lo industrial.
	</p>
	<h3 id="nortrail2017">Mejor carrera hasta 25km (2017)</h3>
	<figure class="fotoIzquierda estrecha figure">
		<a href="../images/informacion/premiosnortrail2017.png" title="Ampliar" class="gallery">
			<img style="max-height: 125px" src="../images/informacion/premiosnortrail2017.png" class="figure-img" alt="Nortrail: Mejor carrera de hasta 25KM 2017">
		</a>
	</figure>	
	<p>En el año 2017 la revista digital especializada <a href="https://www.nortrail.run/" title="Ir a la web de Nortrail">Nortrail</a> lanzó a los corredores y clubes del norte de España su encuesta anual para elegir las mejores carreras y atletas, resultando elegido, contra todo pronóstico, el Trail Valle de Samuño como mejor carrera de menos de 25KM. 
	Para la organización supuso una enorme satisfacción este inesperado reconocimiento por parte del público, siendo muy emocionante la recogida en la ceremonia de entrega. 
	</p>
</div>