---
title: "Seguimiento de la carrera"
---

<div id="content">
	<div class="row">
		<h2>Seguimiento de la carrera</h2>
		<iframe class="wikilocMap" data-src="https://www.google.com/maps/d/embed?mid=1d7xmyHPIyEbxJaMgAhdkwPJUu74" width="640" height="480"></iframe>

		<p>
			<a href="https://www.google.es/maps/place/43%C2%B013'48.0%22N+5%C2%B039'33.8%22W/@43.23,-5.6615787,575m/data=!3m1!1e3!4m5!3m4!1s0x0:0x0!8m2!3d43.23!4d-5.65939" title="Abrir en Google Maps"><svg class="icon marker">
					<use xlink:href="<%= compute_path("images/map.svg") %>#marker"></use>
				</svg>43.23, -5.65939</a>
		</p>

		<p>El mejor punto para seguir la carrera es el Alto de La Mozquita o Alto Urbiés, accesible desde La Nueva (salida/meta) a través de la carretera LA-7 (Langreo - Urbiés) tras unos 6km de ascenso. 
		Desde este punto, además de disfrutar (si el tiempo lo permite) de unas amplias panorámicas de la montaña central asturiana (Ubiña, Aramo, Cordillera Cantábrica, Redes, Peña Mayor, etc.) también podremos acercarnos en pocos minutos al 
		ya mítico tramo de El Repechón, durísima subida donde poder animar a los/las corredores/as donde más lo necesitan. Dispone de buen aparcamiento.
		</p>
		<p>Se han añadido al mapa además otros puntos de interés donde poder seguir la carrera, aunque no tan bien comunicados o con mayores problemas de aparcamiento.</p>
		<p>Por último, también se ha añadido un punto accesible a pie fácilmente desde la salida siguiendo la cómoda Senda Verde y que se encuentra justo al final de la bajada más complicada de la prueba.</p>
	</div>
</div>