<% if ((!current_page.path.end_with? "patrocinadores.html") && (!current_page.path.end_with? "colaboradores.html")) %>
	<div id="colaboradoresFooter">
		<div class="row">
			<ul class="patrocinadores">
				<% data.colaboradores.empresas.each do |empresa| %>
					<li>
						<a href="<%= empresa.link %>" title="<%= empresa.linktitle %>">
							<%= image_tag "colaboradores/"+empresa.image, :alt => empresa.name, :loading => "lazy" %>
						</a>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
<% end %>