---
title: "Política de cookies"
---

<div id="content">
	<div class="row">
		<h2>Política de cookies</h2>
		<p>Una cookie es un fichero que se genera en el dispositivo del usuario (ordenador, tablet, smartphone&hellip;) por las páginas web para almacenar y recuperar posteriormente información.</p>
		<p>Trail Valle de Samuño utiliza las siguientes cookies:</p>
		<ul>
			<li><b>_ga y _gat:</b> cookies de terceros (Google Analytics) que recogen información sobre los sitios web visitados, tiempo en cada página, navegador utilizado (todo ello de manera anónima) para ofrecer estadísticas que permitan optimizar la página.</li>
			<li><b>NID e ID de canal:</b> cookies de terceros (Google Maps, Google Fonts, Google Analytics, gstatic.com, www.google.es, google.com) que recogen información del uso de los distintos servicios de Google</li>
		</ul>
		<p>Como usuario dispone de diversos métodos para evitar la creación de cookies en su equipo:</p>
		<ul>
			<li><b>Uso del modo incógnito/privado del navegador:</b> algunos navegadores, como Chrome, Firefox u Opera disponen de modos de navegación en los que las cookies están completamente deshabilitadas. Para utilizarlos basta con abrir en el menú principal una nueva ventana en modo incógnito/privado. Consulte la ayuda de su navegador para utilizar esta opción.</li>
			<li><b>Configuración del navegador:</b> Todos los navegadores permiten configurar el funcionamiento de las cookies, pudiendo deshabilitarlas completamente, para un sitio concreto o una específica. Consulte la ayuda de su navegador para realizar esta tarea.</li>
			<li><b>Configuración de la página:</b> Esta página provee de un sistema para que el usuario pueda decidir si da permiso o no a la creación de cookies opcionales. Aún así podrían instalarse algunas cookies imprescindibles por motivos técnicos para el funcionamiento del sitio.</li>
			<li><b>Herramientas de terceros:</b> Estas herramientas permiten gestionar las cookies independientemente del navegador.</li>
		</ul>
	</div>
</div>