---
title: "Homologación Fempa"
---

<div id="content">
	<div class="row">
		<h2>Homologación Fempa</h2>
		<figure class="fotoDerecha estrecha figure">
			<a href="<%= compute_path("images/transversales/homologacionFempa.png") %>" title="Ampliar" class="gallery">
				<%= image_tag 'transversales/homologacionFempa.png', :class => 'figure-img', :alt => 'Carreres por Montaña d’Asturies, prueba homologada Fempa' %>
			</a>
		</figure>		
		<p>La <a href="http://fempa.net/homologacion" title="Ir a la web de la Fempa sobre homologación de carreras por montaña">homologación de la Fempa</a> de carreras por montaña es una especie de sello de calidad que se concede a aquellas carreras que cumplen una serie de criterios que abarcan todos los aspectos de una prueba: seguridad, marcaje del recorrido, avituallamientos, respeto al medio ambiente, etc.</p>
		<p>Desde la organización del Trail Valle de Samuño se consideró, por un lado que sería posible cumplir con dichos criterios y que, por otro, el hecho de que la prueba se desarrollase en un <a href="../entorno/paisajeprotegido.html" title="Ir a la sección sobre el Paisaje Protegido de las Cuencas Mineras">espacio protegido</a> exigía un especial cuidado con el entorno, por lo que se decidió solicitar la homologación.</p>
		<p>Gracias al importante esfuerzo dedicado el Trail Valle de Samuño fue homologado por la Fempa tras su primera edición (2016), siendo esto una garantía tanto para quienes nos permiten celebrar la carrera en los espacios que están bajo su responsabilidad como para aquellos que deciden tomar parte en ella. Para la organización constituye un estímulo de cara a mejorar y poder organizar la carrera en las mejores condiciones posibles.</p>
	</div>
</div>