---
title: "Contacto"
---
<div id="content-block">
	<h2>Contacto</h2>
	<p>Envíanos tus dudas, quejas y sugerencias a:</p>
	<ul class="noBullets">
		<li class="email"><a href="mailto:trailvallesamuno@gmail.com" title="Envíanos un correo electrónico">
			<svg class="icon email">
				<use xlink:href="<%= compute_path("images/map.svg") %>#email"></use>
			</svg>trailvallesamuno@gmail.com</a></li>
		<li class="facebook"><a href="https://www.facebook.com/TrailValleSamuno/" title="Escríbenos a través de Facebook">
			<svg class="icon facebook">
				<use xlink:href="<%= compute_path("images/map.svg") %>#facebook"></use>
			</svg>Facebook</a></li>
		<li class="x"><a href="https://twitter.com/tvallesamuno" title="Twittéanos">
			<svg class="icon x">
				<use xlink:href="<%= compute_path("images/map.svg") %>#x"></use>
			</svg>@tvallesamuno</a>
		</li>
		<li class="instagram"><a href="https://www.instagram.com/trailvalledesamuno/" title="Incluso por Instagram puedes contactarnos, aunque quizás no sea le mejor opción">
			<svg class="icon instagram">
				<use xlink:href="<%= compute_path("images/map.svg") %>#instagram"></use>
			</svg>Instagram</a>
		</li>
	</ul>
</div>