---
title: ""
localScript: "<script>indexAnimations();</script>"
---

<div id="content-block">
	<article class="excerpt">
		<div class="row">
			<h2>Trail Valle de Samuño - Clínica Nalón Dental</h2>
			<ul class="data">
				<li class="date"><span class="value">22</span> <span class="unit">sep</span></li>
				<li class="distance"><span class="value">22</span> <span class="unit">km</span></li>
				<li class="verticalGain"><span class="value">1.5K</span> <span class="unit">m+</span></li>
				<li class="people"><span class="value">4</span> <span class="unit">avituall</span></li>
			</ul>
			<h2>Samuño K11</h2>
			<ul class="data">
				<li class="date"><span class="value">21</span> <span class="unit">sep</span></li>
				<li class="distance"><span class="value">11</span> <span class="unit">km</span></li>
				<li class="verticalGain"><span class="value">700</span> <span class="unit">m+</span></li>
				<li class="people"><span class="value">2</span> <span class="unit">avituall</span></li>			
			</ul>
		</div>
	</article>
	<article class="excerpt alt">
		<div class="row">
			<h2>Vuelve la K11, menos distancia, misma emoción</h2>
			<img src="images/recorrido.jpg" alt="Mujer descendiendo un tramo de bosque" />
			<p>Tras el éxito de participación del año pasado repetimos formato de 11km y 700m de desnivel positivo, perfecto para iniciarse y para los más explosivos. Además, pasarás por algunos de los tramos ya míticos de la carrera, como la <i>Cresta los fugaos</i>, la <i>Jaula</i> y, por supuesto, el kilómetro de auténtica galería minera que remata esta carrera.</p>
			<a class="button callToAction verRecorrido" href="carrera/recorrido.html" title="">
				<svg class="icon inscripcion">
					<use xlink:href="images/map.svg#recorrido-icon"></use>
				</svg>
				Ver recorrido</a>
		</div>
	</article>
	<article class="excerpt">
		<div class="row">
			<h2>Premio Nortrail y sello Langreo Calidad Turística</h2>
			<img src="images/tecnico.jpg" alt="Mejor carrera hasta 25km en los Premios Nortrail 2017 y sello Langreo Calidad Turística" />
			<p>Disfruta de una de las carreras mejor valoradas por corredores e instituciones, que ha sido reconocida como <i>Mejor carrera hasta 25km</i> en los Premios Nortrail 2017 y ha recibido el sello Langreo Calidad Turística que la distingue por su cuidada organización.</p>
			<a class="button callToAction verRoadbook" href="informacion/reconocimientos.html" title="Ver información sobre los logros de la prueba">
				<svg class="icon inscripcion">
					<use xlink:href="images/map.svg#roadbook-icon"></use>
				</svg>
				Descubrir</a>			
		</div>
	</article>
	<article class="excerpt alt">
		<div class="row">
			<h2>El pulmón de Las Cuencas</h2>
			<img src="images/paisajeProtegido.jpg" alt="Arroyo en un bosque" />
			<p>Gran parte del recorrido transcurre por el Paisaje Protegido de las Cuencas Mineras que sorprende a propios y a extraños por su exuberancia y sus panorámicas.</p>
			<a class="button callToAction descubrirPaisaje" href="entorno/paisajeprotegido.html" title="">
				<svg class="icon inscripcion">
					<use xlink:href="images/map.svg#patrimonioNatural-icon"></use>
				</svg>
				Descubrir</a>
		</div>
	</article>
	<article class="excerpt">
		<div class="row">	
			<h2>Patrimonio</h2>
			<img src="images/patrimonioIndustrial.jpg" alt="Pozo San Luis, castillete y casa de máquinas" />
			<p>Molinos, bocaminas, socavones, castilletes, trenes, ... La huella humana en la parte baja del Valle es profunda y visible aún hoy. Una pequeña parte podrás disfrutarla durante la carrera. ¡Vívela también después con los tuyos!</p>
			<a class="button callToAction descubrirPatrimonio" href="entorno/ecomuseo.html" title="">
				<svg class="icon inscripcion">
					<use xlink:href="images/map.svg#patrimonioIndustrial-icon"></use>
				</svg>
				Descubrir</a>	
		</div>
	</article>
	<div class="creditos row">
		<p>
		Fotografías de: Luis Coalla, Roberto Cancio González y <a href="http://www.flickr.com/photos/ennegativo/9086214152/in/photolist-srxWJK-sro13W-eQVxtE-9zV7y2-srxGzx-sro7gh-9zV9CB-srxNpP-spgav3-9zY6T9-9zV72T-9zY6DY-srwjFk-spfJwW-eQHTHt-s9XsjW-eQVx79-9zY7Zo-sry1Qa-spfRvq-eQHUen-ruxBSf-9zVabX-eQJbGx-9zV9Yc-ruxz8N-eQVfCW-9zV8Ar-9zV8jt-sry8Sg-eQVf7S-eQVfnY-eQVf31-sa6Hqx-eQVeTq-s9YNQq-s9YN83-eQHTX4-eQHSZk-eQVdUG-eQHS5F-eQHSQg-eQHSdK-eQHSEV-eQHTga-eQVeDE-7M5wDN-ruxqXE-spg3zE-spfWQJ" title="Ir a la galería del autor">David Busto Méndez</a>.
		</p>
	</div>
</div>