---
title: ""
---

<div id="content-block">
	<article class="excerpt">
		<div class="row">
			<h2>Trail Valle de Samuño - Clínica Nalón Dental</h2>
			<ul class="data">
			<ul class="data">
				<li class="date"><span class="value">10</span> <span class="unit">sep</span></li>
				<li class="distance"><span class="value">23</span> <span class="unit">km</span></li>
				<li class="verticalGain"><span class="value">1.5K</span> <span class="unit">m+</span></li>
				<li class="people"><span class="value">250</span> <span class="unit">dorsales</span></li>
			</ul>
			</ul>
		</div>
	</article>
	<article class="excerpt alt">
		<div class="row">
			<h2>Media Maratón</h2>
			<img src="images/recorrido.jpg" alt="Mujer descendiendo un tramo de bosque" />
			<p>El reto para todos: si estás empezando pruébate en la distancia y, si ya la conoces ¡es la mejor ocasión para  intentar mejorar tu tiempo!</p>
			<a class="button callToAction verRecorrido" href="carrera/recorrido.html" title="">
				<svg class="icon inscripcion">
					<use xlink:href="images/map.svg#recorrido-icon"></use>
				</svg>
				Ver recorrido</a>
		</div>
	</article>
	<article class="excerpt">
		<div class="row">
			<h2>Un trazado duro y técnico</h2>
			<img src="images/tecnico.jpg" alt="Corredor saltando en un pasaje técnico" />
			<p>3.000 m de desnivel acumulado te separan de la meta y no por sencillas pistas: hemos invertido mucho tiempo buscando caminos perdidos utilizados hasta antesdeayer para comunicar los pueblos de la zona.</p>
			<a class="button callToAction verRoadbook" href="carrera/roadbook.html" title="">
				<svg class="icon inscripcion">
					<use xlink:href="images/map.svg#roadbook-icon"></use>
				</svg>
				Ver roadbook</a>			
		</div>
	</article>
	<article class="excerpt alt">
		<div class="row">
			<h2>El pulmón de Las Cuencas</h2>
			<img src="images/paisajeProtegido.jpg" alt="Arroyo en un bosque" />
			<p>Gran parte del recorrido transcurre por el Paisaje Protegido de las Cuencas Mineras que sorprende a propios y a extraños por su exuberancia y sus panorámicas.</p>
			<a class="button callToAction descubrirPaisaje" href="entorno/paisajeprotegido.html" title="">
				<svg class="icon inscripcion">
					<use xlink:href="images/map.svg#patrimonioNatural-icon"></use>
				</svg>
				Descubrir</a>
		</div>
	</article>
	<article class="excerpt">
		<div class="row">	
			<h2>Patrimonio</h2>
			<img src="images/patrimonioIndustrial.jpg" alt="Pozo San Luis, castillete y casa de máquinas" />
			<p>Molinos, bocaminas, socavones, castilletes, trenes, ... La huella humana en la parte baja del Valle es profunda y visible aún hoy. Una pequeña parte podrás disfrutarla durante la carrera. ¡Vívela también después con los tuyos!</p>
			<a class="button callToAction descubrirPatrimonio" href="entorno/ecomuseo.html" title="">
				<svg class="icon inscripcion">
					<use xlink:href="images/map.svg#patrimonioIndustrial-icon"></use>
				</svg>
				Descubrir</a>	
		</div>
	</article>
	<div class="creditos row">
		<p>
		Fotografías de: <a href="http://daveandjackierun.wordpress.com/2012/02/18/thank-you-salomon-trail-running-shoes-that-are-actually-meant-for-well-trails/" title="Ir a la web de los autores">Dave and Jackie run</a>, <a href="https://www.flickr.com/photos/56260488@N02/14410273423" title="Ir a la galería del autor">Paolo Gilberto</a> y <a href="http://www.flickr.com/photos/ennegativo/9086214152/in/photolist-srxWJK-sro13W-eQVxtE-9zV7y2-srxGzx-sro7gh-9zV9CB-srxNpP-spgav3-9zY6T9-9zV72T-9zY6DY-srwjFk-spfJwW-eQHTHt-s9XsjW-eQVx79-9zY7Zo-sry1Qa-spfRvq-eQHUen-ruxBSf-9zVabX-eQJbGx-9zV9Yc-ruxz8N-eQVfCW-9zV8Ar-9zV8jt-sry8Sg-eQVf7S-eQVfnY-eQVf31-sa6Hqx-eQVeTq-s9YNQq-s9YN83-eQHTX4-eQHSZk-eQVdUG-eQHS5F-eQHSQg-eQHSdK-eQHSEV-eQHTga-eQVeDE-7M5wDN-ruxqXE-spg3zE-spfWQJ" title="Ir a la galería del autor">David Busto Méndez</a>.
		</p>
	</div>
</div>