---
title: "2017"
---

<div id="content-block">
		<h2>2017</h2>
		<h3>Clasificaciones</h3>
		<p>Próximamente...</p>
		<!--<ul>
			<li><a href="../../documents/edicionesanteriores/2017/general.pdf" title="Abrir la clasificación general de 2017">General</a></li>
			<li><a href="../../documents/edicionesanteriores/2017/categorias.pdf" title="Abrir la clasificación por categorías de 2017">Categorías</a></li>
		</ul>-->
		<h3>Fotografías</h3>
			<p>Próximamente...</p>
			<!--<ul>
				<li><a href="https://www.facebook.com/pg/wwmariaww/photos/?tab=album&album_id=1242190235833225">Vistas desde el Pico Las Cruces de Maríaw</a></li>			
			</ul>-->
		<h3>Cartel</h3>
			<figure class="fotoIzquierda no-float figure">
				<a href="<%= compute_path("images/carrera/edicionesanteriores/2017/cartel2017.jpg") %>" title="Ampliar" class="gallery">		
					<%= image_tag 'carrera/edicionesanteriores/2017/cartel2017.jpg', :class => 'figure-img', :alt => 'Cartel del II Trail Valle de Samuño celebrado en Langreo (Asturias)' %>
				</a>
			</figure>
		<h3>Prensa</h3>
		<ul>
			<li><a href="http://www.lne.es/cuencas/2017/08/20/ii-trail-minero-samuno-celebrara/2152020.html" title="Ir a la noticia en la web del periódico">El II Trail Minero de Samuño se celebrará el 10 de septiembre (La Nueva España)</a></li>
			<li><a href="http://www.lne.es/cuencas/2017/09/05/doscientos-corredores-disputaran-domingo-ii/2159004.html" title="Ir a la noticia en la web del periódico">Doscientos corredores disputarán el domingo el II Trail Valle de Samuño (La Nueva España)</a></li>
			<li><a href="http://www.elcomercio.es/asturias/cuencas/nueva-prepara-acoger-20170824000351-ntvo.html" title="Ir a la noticia en la web del periódico">La Nueva se prepara para acoger el II Trail Valle de Samuño el 10 de septiembre</a></li>
		</ul>
		<h3>Vídeos</h3>
		<iframe class="wikilocMap" width="560" height="315" data-src="https://www.youtube.com/embed/rsxzYjbmCbQ" frameborder="0" allowfullscreen></iframe>
		<!--<article>
			<h3>Crónica</h3>
		</article>-->
</div>