---
title: "2018"
---

<div id="content-block">
		<h2>2018</h2>
		<h3>Clasificaciones</h3>
		<ul>
			<li><a href="../../documents/edicionesanteriores/2018/clasificacionesTVS.pdf" title="Abrir la clasificación general de 2018">Clasificaciones TVS (K24)</a></li>
			<li><a href="../../documents/edicionesanteriores/2018/clasificacionesTVxS.pdf" title="Abrir la clasificación general de 2018">Clasificaciones TVxS (K11)</a></li>			
		</ul>
		<h3>Fotografías</h3>
			<ul>
				<li><a href="https://www.facebook.com/pg/ToyotaAsturhibrido/photos/?tab=album&album_id=1858917340842763&__tn__=-UC-R" title="Ir al álbum de Facebook">Fotos de Toyota</a></li>										
				<li><a href="https://www.facebook.com/pg/mvrunfoto/photos/?tab=album&album_id=1386578988139668&__tn__=-UC-R" title="Ir al álbum de Facebook">Fotos de MVFoto</a></li>										
				<li><a href="https://www.facebook.com/pg/mvrunfoto/photos/?tab=album&album_id=1386665764797657&__tn__=-UC-R" title="Ir al álbum de Facebook">Fotos de MVFoto</a></li>										
				<li><a href="https://www.facebook.com/pg/wwmariaww/photos/?tab=album&album_id=2092397077479199&__tn__=-UC-R" title="Ir al álbum de Facebook">Fotos de Dacler</a></li>										
				<li><a href="https://photos.google.com/share/AF1QipP5Rczq-CJd9HflJEAslmM0rpn5-cZTPyoxKmTS9_OidL2j8mIirv-qq4HDT_A3eg?key=aEJ6WTJXUmFoZDB6aFlxRTk2YmlZaGF3V1NEMDJB" title="Ir al álbum de Google Photo">Fotos de Pedro Pablo Heres</a></li>										
				<li><a href="https://www.facebook.com/pedro.heresalvarez/media_set?set=a.1851854108182961&type=3" title="Ir al álbum de Facebook">Fotos de Pedro Pablo Heres</a></li>
				<li><a href="https://www.facebook.com/pg/mvrunfoto/photos/?tab=album&album_id=1388478017949765&__tn__=-UC-R" title="Ir al álbum de Facebook">Fotos de MVFoto</a></li>
				<li><a href="https://www.facebook.com/profile.php?id=100010457555364&sk=photos&collection_token=100010457555364%3A2305272732%3A69&set=a.693729407652305&type=3" title="Ir al álbum de Facebook">Fotos de la organización</a></li>
				<li><a href="https://www.facebook.com/chechu.xosenel/posts/10214325589745902?__tn__=C-R" title="Ir al álbum de Facebook">Fotos de Chechu Xosenel</a></li>
				<li><a href="https://www.facebook.com/pg/atsemeya/photos/?tab=album&album_id=268439370466187&__tn__=-UC-R" title="Ir al álbum de Facebook">Fotos de Ángela Terente Photographer</a></li>
				<li><a href="https://www.facebook.com/tano.gonzalezgarcia/media_set?set=a.10212117660392656&type=3" title="Ir al álbum de Facebook">Fotos de Tano</a></li>
				<li><a href="https://www.facebook.com/pg/wwmariaww/photos/?tab=album&album_id=2092642590787981&__tn__=-UC-R" title="Ir al álbum de Facebook">Fotos de Mariaw</a></li>
				<li><a href="https://www.facebook.com/pg/TrailValleSamuno/photos/?tab=album&album_id=982713471921296&__tn__=-UC-R" title="Ir al álbum de Facebook">Fotos de la organización</a></li>
				<li><a href="https://www.facebook.com/pg/mvrunfoto/photos/?tab=album&album_id=1389129894551244&__tn__=-UC-R" title="Ir al álbum de Facebook">Fotos de MVFoto</a></li>
				<li><a href="https://www.facebook.com/martangela/posts/10211943556935203?__tn__=C-R" title="Ir al álbum de Facebook">Vídeo resumen Trail Valle Samuño de Marta Pérez Alonso</a></li>
				<li><a href="https://www.facebook.com/pg/Capitanpola-123777231287480/photos/?tab=album&album_id=807218959609967&__xts__%5B0%5D=68.ARATIT52tMkAMmID_2OD0oaK1UzQUeZj89aYmk9Oc7vzONtWxIuaJ_oPZ9Brz_RF-Pvk7zBF0K940aXZ0Tmt5AaIdButLqkki9jzxLicocGQt0YaF86Zdy2VB2LBOdghok27CWnChsHJD4b7Gim7qyqz6yPjq0VEaGXYUohDyz4LyJQ1THv3&__tn__=-UC-R" title="Ir al álbum de Facebook">Fotos de Capitán Pola</a></li>
				<li><a href="https://www.facebook.com/chechu.xosenel/media_set?set=a.10214342787855844&type=3" title="Ir al álbum de Facebook">Fotos de Chechu Xosenel</a></li>
				<li><a href="https://www.facebook.com/profile.php?id=100004834811199&sk=photos&collection_token=100004834811199%3A2305272732%3A69&set=a.1038920246279126&type=3" title="Ir al álbum de Facebook">Fotos de Juan Romero Carnica</a></li>
				<li><a href="https://www.facebook.com/joseluis.lastravior/media_set?set=a.2387228217971059&type=3" title="Ir al álbum de Facebook">Fotos de Jose Luis Lastra</a></li>
				<li><a href="https://www.facebook.com/pg/TrailValleSamuno/photos/?tab=album&album_id=984164091776234&__tn__=-UC-R" title="Ir al álbum de Facebook">Fotos de Luis Coalla Fotografía</a></li>
				<li><a href="https://www.facebook.com/pg/TrailValleSamuno/photos/?tab=album&album_id=985229371669706&__tn__=-UC-R" title="Ir al álbum de Facebook">Fotos de la organización</a></li>
				<li><a href="https://tortugastrailleon.blogspot.com/2018/09/iii-trail-valle-de-samuno.html" title="Ir al blog de Tortugas Trail León">Blog de Tortugas Trail León</a></li>
			</ul>
		<h3>Cartel</h3>
			<figure class="fotoIzquierda no-float figure">
				<a href="<%= compute_path("images/carrera/edicionesanteriores/2018/cartel2018.jpg") %>" title="Ampliar" class="gallery">		
					<%= image_tag 'carrera/edicionesanteriores/2018/cartel2018.jpg', :class => 'figure-img', :alt => 'Cartel del III Trail Valle de Samuño celebrado en Langreo (Asturias)' %>
				</a>
			</figure>
		<h3>Prensa</h3>
		<ul>
			<li><a href="https://www.lne.es/cuencas/2018/09/15/trail-valle-samuno-prepara-edicion/2348634.html" title="Ir a la noticia en la web del periódico">El Trail "Valle de Samuño" prepara una edición multitudinaria con 360 inscritos (La Nueva España)</a></li>
			<li><a href="https://www.elcomercio.es/asturias/cuencas/tercer-trail-valle-20180915004240-ntvo.html" title="Ir a la noticia en la web del periódico">El tercer Trail Valle de Samuño atrae a 360 corredores (El Comercio)</a></li>			
			<li><a href="https://www.lne.es/deportes/2018/09/24/andres-garcia-miriam-garcia-ganan/2352882.html" title="Ir a la noticia en la web del periódico">Andrés García y Miriam García ganan en Samuño (La Nueva España)</a></li>
			
		</ul>
		<h3>Vídeos</h3>
		<iframe class="wikilocMap" width="560" height="315" data-src="https://www.youtube.com/embed/FkFSF8hF_Co" frameborder="0" allowfullscreen></iframe>
		<iframe class="wikilocMap" width="560" height="315" data-src="https://www.youtube.com/embed/bc43wUppVLU" frameborder="0" allowfullscreen></iframe>
		<iframe class="wikilocMap" width="560" height="315" data-src="https://www.youtube.com/embed/EO2mWyiTfl4" frameborder="0" allowfullscreen></iframe>
		<!--<article>
			<h3>Crónica</h3>
		</article>-->
</div>