---
title: "2019"
---

<div id="content-block">
		<h2>2019</h2>
		<h3>Cartel</h3>
		<figure class="fotoIzquierda no-float figure">
			<a href="<%= compute_path("images/carrera/edicionesanteriores/2019/cartel2019.jpg") %>" title="Ampliar" class="gallery">		
				<%= image_tag 'carrera/edicionesanteriores/2019/cartel2019.jpg', :class => 'figure-img', :alt => 'Cartel del IV Trail Valle de Samuño celebrado en Langreo (Asturias)' %>
			</a>
		</figure>
		<h3>Prensa</h3>
		<ul>
			<li><a href="http://lacuencadelnalon.es/web/el-trail-valle-de-samuno-anade-un-nuevo-dia-de-carrera-y-una-clasificacion-combinada-en-su-cuarta-edicion/?fbclid=IwAR1n1M-F3pWy-xC2MCa1KVeln4x7hu1MoG692gQ-imU-8lSJq-1VEQnia-s" title="Ir a la Noticia en La Cuenca del Nalón">El Trail Valle de Samuño añade un nuevo día de carrera y una clasificación combinada en su cuarta edición (La Cuenca del Nalón)</a></li>
			<li><a href="https://www.lne.es/deportes/2019/09/18/trail-valle-samuno-reune-500/2531148.html" title="Ir a la noticia en La Nueva España">El Trail Valle de Samuño reune a 500 deportistas (La Nueva España)</a></li>
			<li><a href="https://www.elcomercio.es/asturias/cuencas/endurastur-trail-samuno-20190918001210-ntvo.html" title="Ir a la noticia en El Comercio">La EndurAstur y el Trail de Samuño afianzan el turismo deportivo en Langreo (El Comercio)</a></li>
			<li><a href="https://www.nortrail.run/el-trail-valle-de-samuno-inaugura-el-otono-a-lo-grande/" title="Ir a la noticia en Nortrail">El Trail Valle de Samuño inaugura el otoño a lo grande (Nortrail)</a></li>
			<li><a href="https://www.nortrail.run/trail-valle-de-samuno-oro-negro/" title="Ir a la noticia en Nortrail">Trail Valle de Samuño, oro negro (Nortrail)</a></li>
			<li><a href="https://www.facebook.com/nortrail/videos/2529060043827311/" title="Entrevista Andrés García Blanco, ganador 2018">Entrevista a Andrés García Blanco, ganador 2018 (Nortrail)</a></li>
			<li><a href="https://www.facebook.com/nortrail/videos/2322221648094999/" title="Entrevista a Miriam García Capín, ganadora 2018">Entrevista a Miriam García Capín, ganadora 2018 (Nortrail)</a></li>
			<li><a href="https://www.langreo.as/-/trail-valle-de-samuno-2019" title="Ir a la noticia en la web del Ayto. de Langreo">Trail Valle de Samuño (Ayuntamiento de Langreo)</a></li>
		</ul>
		<h3>Vídeos</h3>
		<iframe class="wikilocMap" width="560" height="315" data-src="https://www.youtube.com/embed/ew-zbHWsAbU" frameborder="0" allowfullscreen></iframe>
			<h3>Clasificaciones</h3>
		<ul>
			<li><a href="../../documents/edicionesanteriores/2019/clasificacion-combinada.pdf" title="Abrir la clasificación Combinada de 2019">Clasificación Combinada</a></li>
			<li><a href="../../documents/edicionesanteriores/2019/clasificacion-tvxs.pdf" title="Abrir la clasificación del TVxS de 2019">Clasificaciones TVxS</a></li>			
			<li><a href="../../documents/edicionesanteriores/2019/clasificacion-tvs.pdf" title="Abrir la clasificación del TVS de 2019">Clasificaciones TVS</a></li>			
		</ul>
		<div class="hide">
		<h3>Fotografías</h3>
			<ul>
				<li><a href="https://www.facebook.com/pg/ToyotaAsturhibrido/photos/?tab=album&album_id=1858917340842763&__tn__=-UC-R" title="Ir al álbum de Facebook">Fotos de Toyota</a></li>										
			</ul>
		<!--<article>
			<h3>Crónica</h3>
		</article>-->
		</div>
</div>