---
title: "2019"
---

<div id="content-block">
		<h2>2019</h2>
		<p>Próximamente ;)</p>
		<div class="hide">
		<h3>Clasificaciones</h3>
		<ul>
			<li><a href="../../documents/edicionesanteriores/2019/clasificacionesTVS.pdf" title="Abrir la clasificación general de 2019">Clasificaciones TVS (K24)</a></li>
			<li><a href="../../documents/edicionesanteriores/2019/clasificacionesTVxS.pdf" title="Abrir la clasificación general de 2019">Clasificaciones TVxS (K11)</a></li>			
		</ul>
		<h3>Fotografías</h3>
			<ul>
				<li><a href="https://www.facebook.com/pg/ToyotaAsturhibrido/photos/?tab=album&album_id=1858917340842763&__tn__=-UC-R" title="Ir al álbum de Facebook">Fotos de Toyota</a></li>										
			</ul>
		<h3>Cartel</h3>
			<figure class="fotoIzquierda no-float figure">
				<a href="<%= compute_path("images/carrera/edicionesanteriores/2019/cartel2019.jpg") %>" title="Ampliar" class="gallery">		
					<%= image_tag 'carrera/edicionesanteriores/2019/cartel2019.jpg', :class => 'figure-img', :alt => 'Cartel del IV Trail Valle de Samuño celebrado en Langreo (Asturias)' %>
				</a>
			</figure>
		<h3>Prensa</h3>
		<ul>
			<li><a href="https://www.lne.es/cuencas/2018/09/15/trail-valle-samuno-prepara-edicion/2348634.html" title="Ir a la noticia en la web del periódico">El Trail "Valle de Samuño" prepara una edición multitudinaria con 360 inscritos (La Nueva España)</a></li>
			
		</ul>
		<h3>Vídeos</h3>
		<iframe class="wikilocMap" width="560" height="315" data-src="https://www.youtube.com/embed/FkFSF8hF_Co" frameborder="0" allowfullscreen></iframe>
		<!--<article>
			<h3>Crónica</h3>
		</article>-->
		</div>
</div>