---
title: "2022"
---

<div id="content-block">
		<h2>2022</h2>
		<h3>Cartel</h3>
		<figure class="fotoIzquierda no-float figure">
			<a href="<%= compute_path("images/carrera/edicionesanteriores/2022/cartel2022.jpg") %>" title="Ampliar" class="gallery">		
				<%= image_tag 'carrera/edicionesanteriores/2022/cartel2022.jpg', :class => 'figure-img', :alt => 'Cartel del V Trail Valle de Samuño celebrado en Langreo (Asturias)' %>
			</a>
		</figure>
		<h3>Clasificaciones</h3>
		<ul>
			<li><a href="../../documents/edicionesanteriores/2022/combinada.pdf" title="Abrir la clasificación Combinada de 2022">Clasificación Combinada</a></li>
			<li><a href="../../documents/edicionesanteriores/2022/tvxs.pdf" title="Abrir la clasificación TVxS de 2019">Clasificaciones TVxS</a></li>			
			<li><a href="../../documents/edicionesanteriores/2022/tvs.pdf" title="Abrir la clasificación TVS de 2022">Clasificaciones TVS</a></li>			
		</ul>
		<h3>Fotografías</h3>
		<ul>
			<li><a href="https://www.facebook.com/media/set/?vanity=TrailValleSamuno&set=a.505625581152450" title="Ir al álbum">Fotos bajada Corralón TVxS</a></li>
			<li><a href="https://www.facebook.com/media/set/?vanity=191046100983567&set=a.5027853613969434" title="Ir al álbum">Fotos Socavón Emilia TVS</a></li>
			<li><a href="https://www.facebook.com/media/set/?vanity=191046100983567&set=a.5017282701693192" title="Ir al álbum">Fotos subida TVxS</a></li>
			<li><a href="https://www.facebook.com/media/set/?vanity=191046100983567&set=a.5020039528084176" title="Ir al álbum">Fotos Senda de los Molinos TVS</a></li>
			<li><a href="https://www.facebook.com/media/set/?vanity=191046100983567&set=a.5022855327802596" title="Ir al álbum">Fotos Sovavón Emilia TVxS</a></li>
			<li><a href="https://www.facebook.com/media/set/?vanity=TrailValleSamuno&set=a.506566337725041" title="Ir al álbum">Fotos bajada Mayáu Miguel TVS</a></li>
			<li><a href="https://www.facebook.com/media/set/?vanity=TrailValleSamuno&set=a.507282180986790" title="Ir al álbum">Fotos Inverniza TVS</a></li>
			<li><a href="https://www.facebook.com/media/set/?vanity=TrailValleSamuno&set=a.508279300887078" title="Ir al álbum">Fotos bajada La Jaula TVS</a></li>
			<li><a href="https://www.facebook.com/media/set/?vanity=TrailValleSamuno&set=a.509728077408867" title="Ir al álbum">Fotos Cresta los Fugaos TVxS</a></li>
		</ul>
</div>