---
title: "2022"
---

<div id="content-block">
		<h2>2022</h2>
		<h3>Cartel</h3>
		<figure class="fotoIzquierda no-float figure">
			<a href="<%= compute_path("images/carrera/edicionesanteriores/2022/cartel2022.jpg") %>" title="Ampliar" class="gallery">		
				<%= image_tag 'carrera/edicionesanteriores/2022/cartel2022.jpg', :class => 'figure-img', :alt => 'Cartel del V Trail Valle de Samuño celebrado en Langreo (Asturias)' %>
			</a>
		</figure>
		<h3>Clasificaciones</h3>
		<ul>
			<li><a href="../../documents/edicionesanteriores/2022/combinada.pdf" title="Abrir la clasificación Combinada de 2022">Clasificación Combinada</a></li>
			<li><a href="../../documents/edicionesanteriores/2022/tvxs.pdf" title="Abrir la clasificación TVxS de 2019">Clasificaciones TVxS</a></li>			
			<li><a href="../../documents/edicionesanteriores/2022/tvs.pdf" title="Abrir la clasificación TVS de 2022">Clasificaciones TVS</a></li>			
		</ul>
</div>