---
title: "2022"
---

<div id="content-block">
		<h2>2022</h2>
		<h3>Cartel</h3>
		<figure class="fotoIzquierda no-float figure">
			<a href="<%= compute_path("images/carrera/edicionesanteriores/2022/cartel2022.jpg") %>" title="Ampliar" class="gallery">		
				<%= image_tag 'carrera/edicionesanteriores/2022/cartel2022.jpg', :class => 'figure-img', :alt => 'Cartel del V Trail Valle de Samuño celebrado en Langreo (Asturias)' %>
			</a>
		</figure>
		<h3>Clasificaciones</h3>
		<ul>
			<li>Clasificación Combinada</li>
			<li>Clasificaciones TVxS</li>			
			<li>Clasificaciones TVS</li>			
		</ul>
</div>