---
title: "2024"
---

<div id="content-block">
	<h2>2024</h2>
	<h3>Cartel</h3>
	<figure class="fotoIzquierda no-float figure">
		<a href="<%= compute_path("images/carrera/edicionesanteriores/2024/cartel2024.webp") %>" title="Ampliar" class="gallery">		
			<%= image_tag 'carrera/edicionesanteriores/2024/cartel2024.webp', :class => 'figure-img', :alt => 'Cartel del VII Trail Valle de Samuño celebrado en Langreo (Asturias)' %>
		</a>
	</figure>
	<h3>Clasificaciones</h3>
	<ul>
		<li><a href="../../documents/edicionesanteriores/2024/tvxs.pdf" title="Abrir la clasificación TVxS de 2024">Clasificaciones TVxS</a></li>
	</ul>	
	<h3>Imagen corporativa</h3>
	<ul>
		<li><a href="../../documents/edicionesanteriores/2024/imagencorporativa.zip" title="Descargar archivo de imagen corporativa">Imagen corporativa</a></li>
	</ul>
</div>