---
title: "2024"
---

<div id="content-block">
	<h2>2024</h2>
	<h3>Cartel</h3>
	<figure class="fotoIzquierda no-float figure">
		<a href="<%= compute_path("images/carrera/edicionesanteriores/2024/cartel2024.webp") %>" title="Ampliar" class="gallery">		
			<%= image_tag 'carrera/edicionesanteriores/2024/cartel2024.webp', :class => 'figure-img', :alt => 'Cartel del VII Trail Valle de Samuño celebrado en Langreo (Asturias)' %>
		</a>
	</figure>
	<h3>Clasificaciones</h3>
	<ul>
		<li><a href="../../documents/edicionesanteriores/2024/tvxs.pdf" title="Abrir la clasificación TVxS de 2024">Clasificaciones TVxS</a></li>
		<li><a href="../../documents/edicionesanteriores/2024/tvs.pdf" title="Abrir la clasificación TVS de 2024">Clasificaciones TVS</a></li>
		<li><a href="../../documents/edicionesanteriores/2024/gtvs.pdf" title="Abrir la clasificación GTVS de 2024">Clasificaciones GTVS</a></li>
	</ul>
	<h3>Vídeo oficial</h3>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/0RGCvoLZzSM?si=65qnhP3Si9MbFlsa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	<h3>Rankings</h3>
	<table>
		<caption>Finishers de todas las ediciones (2024 inclusive)</caption>
		<thead>
			<tr>
				<th>Atleta</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Cristian Menéndez Pérez</td>
			</tr>
			<tr>
				<td>Agustín González Bobes</td>
			</tr>
		</tbody>
	</table>

	<table>
		<caption>Corredores con más TVS (2024 inclusive)</caption>
		<thead>
			<tr>
				<th><abbr title="Posición">Pos</abbr></th>
				<th>Atleta</th>
				<th>Nº veces terminada</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>Cristian Menéndez Pérez</td>
				<td>7</td>
			</tr>
			<tr>
				<td>1</td>
				<td>Agustín González Bobes</td>
				<td>7</td>
			</tr>
			<tr>
				<td>3</td>
				<td>Miguel Ángel Menéndez Menéndez</td>
				<td>6</td>
			</tr>
			<tr>
				<td>3</td>
				<td>Rubén Fernández López</td>
				<td>6</td>
			</tr>
			<tr>
				<td>3</td>
				<td>César Jiménez Fernández</td>
				<td>6</td>
			</tr>
			<tr>
				<td>3</td>
				<td>Francisco Javier Baños</td>
				<td>6</td>
			</tr>
			<tr>
				<td>7</td>
				<td>Jennifer Argüelles Mesa</td>
				<td>5</td>
			</tr>
			<tr>
				<td>7</td>
				<td>Adrián Mejido Fernández</td>
				<td>5</td>
			</tr>
			<tr>
				<td>7</td>
				<td>David Blanco Iglesias</td>
				<td>5</td>
			</tr>
			<tr>
				<td>7</td>
				<td>Alberto Menéndez Regueiro</td>
				<td>5</td>
			</tr>
			<tr>
				<td>7</td>
				<td>Óscar Estrada García</td>
				<td>5</td>
			</tr>
			<tr>
				<td>7</td>
				<td>Nicolás García García</td>
				<td>5</td>
			</tr>
			<tr>
				<td>7</td>
				<td>Javier Fernández García</td>
				<td>5</td>
			</tr>
			<tr>
				<td>7</td>
				<td>Isidro González Menéndez</td>
				<td>5</td>
			</tr>
		</tbody>
	</table>

	<table>
		<caption>Corredores con más TVxS (2024 inclusive)</caption>
		<thead>
			<tr>
				<th><abbr title="Posición">Pos</abbr></th>
				<th>Atleta</th>
				<th>Nº veces terminada</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>Jennifer Argüelles Mesa</td>
				<td>4</td>
			</tr>
			<tr>
				<td>1</td>
				<td>Agustín González Bobes</td>
				<td>4</td>
			</tr>
			<tr>
				<td>1</td>
				<td>Noel García Meana</td>
				<td>4</td>
			</tr>
			<tr>
				<td>1</td>
				<td>Jorge Luis Andrés Menéndez</td>
				<td>4</td>
			</tr>
			<tr>
				<td>1</td>
				<td>David Riestra Hernández</td>
				<td>4</td>
			</tr>
			<tr>
				<td>1</td>
				<td>Casiano García Fernández</td>
				<td>4</td>
			</tr>
			<tr>
				<td>1</td>
				<td>José Manuel Gutiérrez Gancedo</td>
				<td>4</td>
			</tr>
			<tr>
				<td>1</td>
				<td>Rubén García Abreu</td>
				<td>4</td>
			</tr>
			<tr>
				<td>1</td>
				<td>David Martínez Cortes</td>
				<td>4</td>
			</tr>
		</tbody>
	</table>	
	<h3>Crónica</h3>
	<h4>Rubén Cabo y Carolina Pereira se consagran en Samuño</h4>
	<p>Por primera vez, el Campeonato de Asturias de Carreras de Montaña en Línea se desplazaba al concejo industrial de Langreo en la, ya ineludible y cada vez más conocida, cita del Valle de Samuño que veía en ésta, su séptima edición, cómo con un deslumbrante plantel de corredores, inscribir el nombre en los puestos de honor se volvía una tarea sólo al alcance de unos pocos. Si a esto le añadimos un amanecer soleado pero fresco, y un terreno seco pero compactado tras las recientes lluvias, podemos decir que el crono estratosférico estaba asegurado. Y todo esto a pesar del empeño del GM Cumbre Llangréu, organizadores de la prueba, de endurecerla con repechos imposibles que ponen a prueba las capacidades escaladoras de los participantes.</p>
	<p>Tras una salida rapidísima comenzaba la primera subida del día con un mano a mano entre el a la postre vencedor Rubén Cabo y el local Aitor Pulgarín hasta el pico Cogollu, punto culminante de la prueba, donde el también local Igor Prieto perdía ya unos 2 minutos sobre el dúo de cabeza. Los 5 km rompepiernas que conducen al Mayáu Miguel no sirvieron para establecer diferencias y los tres de cabeza pasaban en el mismo orden que en el punto anterior, encarando el primer descenso importante del día. El durísimo ritmo marcado por el del Avientu le sirvió para coronar la siguiente dificultad del día, el pico Rondiz, con una ventaja de 2 minutos, dejando atrás al de Cumbre que veía cómo se le escapaba la carrera de casa y el campeonato. Por su parte, haciendo gala de consistencia el del Wolves se mantenía en tercera posición a otros 2 minutos de su predecesor. Sin energía ya para grandes alardes, la última bajada no resultaría decisiva y, a la salida de la mina sería Rubén Cabo quien cortaría la cinta parando el crono en unas impresionantes 2h 00’ 47”. Dos minutos más tarde, era Aitor Pulgarín quien cruzaría la línea de meta arropado por sus vecinos. Por último, tras otros 2 minutos, volvían a resonar los aplausos en honor del otro langreano del día, Igor Prieto. De manera nada sorpresiva, los tres tiempos mejoran el récord anterior de la prueba.</p>
	<p>Por su parte, la carrera femenina fue muy reñida y táctica, jugando cada cual sus mejores bazas. Patricia Álvarez, sabedora de sus prestaciones en ascensos comandaba la prueba al paso por el pico Cogollu con una cómoda ventaja de 1 minuto sobre una más conservadora Carolina Pereira. Ana Belén Nogueiro completaba el terceto de cabeza a 45 segundos de la del Asturpro. Nuevamente, el recorrido por la parte alta hasta el Mayáu Miguel no alteraba la clasificación ni los tiempos y en el paso por el Rondiz la del Langreo Trail encaraba el vertiginoso descenso final del trazado con un colchón de 1 minuto y medio sobre su perseguidora, que se venía reservando para lanzarse a por todas. Por detrás, eran Belén Montavez y Aida Campos las que conseguían adelantar a Nogueiro, despidiéndose de ese podio que había acariciado durante tantos kilómetros.</p>
	<p>Llegaba entonces la hora de la verdad, donde Carolina Pereiro demostraba sus habilidades en el descenso para no sólo recortar la diferencia sino también aventajar finalmente en 23 segundos a Patricia Álvarez y sellando una muy trabajada actuación. Por su parte Aida Campos haría lo propio con Belén Montavez para lograr subirse al tercer cajón. Al igual que sus homólogos masculinos, en los 3 casos se mejoró el récord anterior.</p>	
	<p>En el apartado popular, la prueba ha reunido 350 participantes, siendo la edición más populosa hasta la fecha que ha permitido disfrutar de la primavera en el Valle en unas condiciones ideales para correr y del ya mítico kilómetro de auténtica mina de carbón que sirve de epílogo a la carrera, tan emocionante para trabajadores y extrabajadores del sector como también para muchos allegados que entran a menudo en el socavón Emilia dedicando su carrera a algún ser querido. El evento se cerró con la entrega de premios y tradicional comida. Desde la organización agradecen la implicación de los voluntarios que, como cada año, dieron lo mejor de sí para hacer más grande el Trail Valle de Samuño.</p>
	<h3>Imagen corporativa</h3>
	<ul>
		<li><a href="../../documents/edicionesanteriores/2024/imagencorporativa.zip" title="Descargar archivo de imagen corporativa">Imagen corporativa</a></li>
	</ul>
</div>