---
title: "Ediciones anteriores"
---

<div id="content-block">
	<h2>Ediciones anteriores</h2>
	<h3>Récords</h3>
	<ul>
		<li><b>Masculino: </b>2h 18' 18" Martín Álvarez Espinar</li>
		<li><b>Femenino: </b>3h 04' 54" Sonia Amat Valero</li>
	</ul>
	<h3>Palmarés</h3>
	<table>
		<caption>Masculino</caption>
		<thead>
			<tr>
				<th>Año</th>
				<th>Ganador</th>
				<th>Segundo</th>
				<th>Tercero</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row">2016</th>
				<td>Martín Álvarez Espinar</td>
				<td>José María Valdés Gallo</td>
				<td>Eduardo Collado García</td>
			</tr>		
		</tbody>
	</table>
	
	<table>
		<caption>Femenino</caption>
		<thead>
			<tr>
				<th>Año</th>
				<th>Ganadora</th>
				<th>Segunda</th>
				<th>Tercera</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row">2016</th>
				<td>Sonia Amat Valero</td>
				<td>Ana Cristina Aguado Mori</td>
				<td>Raquel Ronco Castañón</td>
			</tr>		
		</tbody>
	</table>	
</div>