---
title: "Ediciones anteriores"
---

<div id="content-block">
	<h2>Ediciones anteriores</h2>
	<h3>Récords TVS (2016 y 2017)</h3>
	<ul>
		<li><b>Masculino: </b>2h 18' 18" Martín Álvarez Espinar (2016)</li>
		<li><b>Femenino: </b>3h 02' 24" Miriam García Capín (2017)</li>
	</ul>
	<h3>Récords TVS 2.0 (2018)</h3>
	<ul>
		<li><b>Masculino: </b>2h 30' 09" Andrés García Blanco (2018)</li>
		<li><b>Femenino: </b>3h 12' 06" Miriam García Capín (2018)</li>
	</ul>
	<h3>Récords TVS 2.1 (2019)</h3>
	<ul>
		<li><b>Masculino: </b>2h 17' 15" Andrés García Blanco (2019)</li>
		<li><b>Femenino: </b>2h 58' 21" Ana Nogueiro Nogueiro (2019)</li>
	</ul>
	<h3>Récords TVS 2.2 (2022)</h3>
	<ul>
		<li><b>Masculino: </b>2h 14' 22" Igor Prieto Jamart (2022)</li>
		<li><b>Femenino: </b>2h 49' 37" Laura Álvarez Álvarez (2022)</li>
	</ul>
	<h3>Récords TVxS (2018)</h3>
	<ul>
		<li><b>Masculino: </b>1h 07' 57" Aitor Llamedo Vigil (2018)</li>
		<li><b>Femenino: </b>1h 27' 35" Cristina Ardisana Molleda (2018)</li>
	</ul>
	<h3>Récords TVxS 1.1 (2019 y 2022)</h3>
	<ul>
		<li><b>Masculino: </b>1h 09' 29" Borja Fernández Navarro (2022)</li>
		<li><b>Femenino: </b>1h 30' 45" Laura Sánchez Suárez (2019)</li>
	</ul>	
	<h3>Palmarés TVS</h3>
	<table>
		<caption>Masculino</caption>
		<thead>
			<tr>
				<th>Año</th>
				<th>Ganador</th>
				<th>Segundo</th>
				<th>Tercero</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row">2022</th>
				<td>Igor Prieto Jamart</td>
				<td>Borja Fernández Navarro</td>
				<td>Iván Diéguez Castro</td>
			</tr>		
			<tr>
				<th scope="row">2019</th>
				<td>Andrés García Blanco</td>
				<td>Carlos Sánchez Castro</td>
				<td>Igor Prieto Jamart</td>
			</tr>		
			<tr>
				<th scope="row">2018</th>
				<td>Andrés García Blanco</td>
				<td>José Enrique García Alonso</td>
				<td>Iván González López</td>
			</tr>		
			<tr>
				<th scope="row">2017</th>
				<td>Andrés García Blanco</td>
				<td>Álvaro Sánchez García</td>
				<td>Alberto Fernández Palacio</td>
			</tr>		
			<tr>
				<th scope="row">2016</th>
				<td>Martín Álvarez Espinar</td>
				<td>José María Valdés Gallo</td>
				<td>Eduardo Collado García</td>
			</tr>		
		</tbody>
	</table>
	
	<table>
		<caption>Femenino</caption>
		<thead>
			<tr>
				<th>Año</th>
				<th>Ganadora</th>
				<th>Segunda</th>
				<th>Tercera</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row">2022</th>
				<td>Laura Álvarez Álvarez</td>
				<td>Meritxell Nava Álvarez</td>
				<td>Dovile Eibutyte</td>
			</tr>		
			<tr>
				<th scope="row">2019</th>
				<td>Ana Nogueiro Nogueiro</td>
				<td>Laura Álvarez Álvarez</td>
				<td>Amelia Fernández García</td>
			</tr>		
			<tr>
				<th scope="row">2018</th>
				<td>Miriam García Capín</td>
				<td>Aida Campos Hernández</td>
				<td>Carla Rodríguez Pardo</td>
			</tr>
			<tr>
				<th scope="row">2017</th>
				<td>Miriam García Capín</td>
				<td>Raquel Ronco Castañón</td>
				<td>Belén Betolaza Cadenas</td>
			</tr>		
			<tr>
				<th scope="row">2016</th>
				<td>Sonia Amat Valero</td>
				<td>Ana Cristina Aguado Mori</td>
				<td>Raquel Ronco Castañón</td>
			</tr>		
		</tbody>
	</table>

	<h3>Palmarés TVxS</h3>
	<table>
		<caption>Masculino</caption>
		<thead>
			<tr>
				<th>Año</th>
				<th>Ganador</th>
				<th>Segundo</th>
				<th>Tercero</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row">2022</th>
				<td>Borja Fernández Navarro</td>
				<td>Ignacio Pello Álvarez</td>
				<td>Paulo Rozada Camblor</td>
			</tr>		
			<tr>
				<th scope="row">2019</th>
				<td>Andrés García Blanco</td>
				<td>Carlos Sánchez Castro</td>
				<td>Paulo Rozada Camblor</td>
			</tr>		
			<tr>
				<th scope="row">2018</th>
				<td>Aitor Llamedo Vigil</td>
				<td>Luis Fernández Bárcena</td>
				<td>Alberto Avín Crespo</td>
			</tr>		
		</tbody>
	</table>
	
	<table>
		<caption>Femenino</caption>
		<thead>
			<tr>
				<th>Año</th>
				<th>Ganadora</th>
				<th>Segunda</th>
				<th>Tercera</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row">2022</th>
				<td>Carolina Pereiro Obaya</td>
				<td>Estefanía Serrano Palicio</td>
				<td>Elena Arienza Fernández</td>
			</tr>	
			<tr>
				<th scope="row">2019</th>
				<td>Laura Sánchez Suárez</td>
				<td>Cristina Ardisana Molleda</td>
				<td>Lara Menéndez Peña</td>
			</tr>		
			<tr>
				<th scope="row">2018</th>
				<td>Cristina Ardisana Molleda</td>
				<td>Laura Sánchez Suárez</td>
				<td>Lara Menéndez Peña</td>
			</tr>		
		</tbody>
	</table>		
</div>