---
title: "Inscripción"
---

<div id="content-block">
	<h2>Inscripción</h2>
	<script type="text/javascript" src="https://inscripciones.empa-t.com/js/iframe/v1/load_iframe.js">
	</script>
	<script>
	abs('inscription_form', 'trail-valle-de-samuno-clinica-nalon-dental-2023',
	{"iframe":1,"utm_nooverride":1,"lang":"es","background":"FFFFFF"});
	</script>	
</div>

<%# <iframe data-src="https://inscripciones.empa-t.com/inscripcion/trail-valle-de-samuno-clinica-nalon-dental-2023/" style="width: 100%; border:none;" scrolling="no" id="avaiFrame"><p>Tu navegador no soporta iframes. Por favor, utiliza un navegador compatible para poder ver la información de tu evento.</p><a href="http://inscripciones.empa-t.com/">http://inscripciones.empa-t.com/</a></iframe>
localScript: "<script type=\"text/javascript\" src=\"http://inscripciones.empa-t.com/js/inscripcion/resizer/js/iframeResizer.min.js\"></script><script type=\"text/javascript\">$(function(){$(\"#avaiFrame\").iFrameResize({log : false,enablePublicMethods  : true});});</script>"
%>