---
title: "Inscripción"
localScript: "<script type=\"text/javascript\" src=\"http://inscripciones.empa-t.com/js/inscripcion/resizer/js/iframeResizer.min.js\"></script><script type=\"text/javascript\">$(function(){$(\"#avaiFrame\").iFrameResize({log : false,enablePublicMethods  : true});});</script>"
---

<div id="content">
	<div class="row">
		<h2>Inscripción</h2>
		<iframe data-src="http://inscripciones.empa-t.com/inscripcion/inscripcion_datos.php?id=3644&iframe=1&lang=es&background=FFFFFF" style="width: 100%; border:none;" scrolling="no" id="avaiFrame"><p>Tu navegador no soporta iframes. Por favor, utiliza un navegador compatible para poder ver la información de tu evento.</p><a href="http://inscripciones.empa-t.com/">http://inscripciones.empa-t.com/</a></iframe>
	</div>
</div>