---
title: "Programa"
---

<div id="content-block">
	<h2>Programa</h2>
	<p>Próximamente...</p>
	<!--
	<h3>Sábado 22 de septiembre</h3>
	<ul>
		<li><b>17:00 a 19:30</b> entrega dorsales para ambas carreras en la Asociación de Vecinos de La Nueva.</li>
		<li><b>19:30</b> charla técnica</li>
	</ul> 
	<h3>Domingo 23 de septiembre</h3>
	<ul>
		<li><b>7:30 a 8:45</b> entrega de dorsales III TVS en la Asociación de Vecinos de La Nueva.</li>
		<li><b>8:30</b> apertura cajón de salida K24</li>
		<li><b>9:00</b> Salida del III Trail Valle de Samuño – Clínica Nalón Dental (K24)</li>
		<li><b>9:15 a 10:15</b> ntrega dorsales K11 en la Asociación de Vecinos de La Nueva.</li>
		<li><b>10:00</b> apertura cajón del I TVxS (K11)</li>
		<li><b>10:30</b> salida I TVxS (K11)</li>
		<li><b>14:00</b> cierre de meta del TVS (K24) y TVxS (k11)</li>
		<li><b>14:15</b> entrega de premios</li>
		<li><b>15:00</b> espicha</li>
	</ul>
	--> 		
</div>