---
title: "Programa - "
---

<div id="content">
	<div class="row">
		<h2>Programa</h2>
		<h3>Sábado 10 de septiembre</h3>
		<ul>
			<li><b>17:00</b> Entrega Dorsales Trail Valle de Samuño – Clínica Nalón Dental (hasta las 20:00)</li>
			<li><b>19:30</b> Charla técnica del Trail Valle de Samuño – Clínica Nalón Dental</li>
		</ul> 
		<h3>Domingo 11 de septiembre</h3>
		<ul>
			<li><b>7:30</b> Entrega de Dorsales e inscripciones a la I Carrera Infantil Samuñín  (ambas hasta 15 minutos antes de la prueba)</li>
			<li><b>8:30</b> Apertura de cajón de salida del I Trail Valle de Samuño – Clínica Nalón Dental</li>
			<li><b>9:00</b> Salida del I Trail Valle de Samuño – Clínica Nalón Dental</li>
			<li><b>10:00</b> Salida del I Carrera Infantil Samuñín</li>
			<li><b>10:30</b> Juegos infantiles</li>
			<li><b>14:00</b> Cierre del Trail Valle de Samuño – Clínica Nalón Dental</li>
			<li><b>14:30</b> Entrega de trofeos del Trail Valle de Samuño – Clínica Nalón Dental</li>
			<li><b>15:00</b> Pincheo gratuito para todos los participantes y acompañantes</li>
		</ul> 		
	</div>
</div>