---
title: "Programa"
---

<div id="content-block">
	<h2>Programa</h2>
	<h3>Sábado 20 de abril</h3>
	<ul>
		<li><b>14:00 a 15:30</b> Recogida de dorsales TVxS y GTVS en la Asociación de Vecinos de La Nueva.</li>
		<li><b>16:00</b> Salida del V TVxS </li>
		<li><b>19:00</b> Cierre de meta TVxS</li>
		<li><b>19:15</b> Entrega Premios TVxS</li>
	</ul> 
	<h3>Domingo 21 de abril</h3>
	<ul>
		<li><b>07:00 a 08:30</b> Recogida dorsales TVS en la Asociación de Vecinos de La Nueva.</li>
		<li><b>09:00</b> Salida VII TVS</li>
		<li><b>14:00</b> Cierre de meta TVS</li>
		<li><b>14:15</b> Entrega de premios TVS y GTVS</li>
	</ul>		
</div>