---
title: Recorrido - Trail Valle de Samuño
---

<div id="content">
	<div class="row">
		<h2>Recorrido</h2>
		<p>La carrera dará comienzo en las instalaciones del Ecomuseo Minero Valle de Samuño, atravesando 
		la LA-7, para continuar por las calles de La Nueva, por donde se asciende por una fuerte pendiente (asfaltada aún) hasta el Barrio Plano, donde se toma a mano derecha la Senda de los Molinos que recorreremos durante 2,5KM. </p>

		<p>En ese punto abandonaremos la Senda a la derecha por un camino vecinal que irá tornando a zona boscosa hasta llegar al pequeño núcleo rural del Tendejón.</p>

		<p>200 metros de carretera nos harán llegar a una empinada pista que seguiremos durante un kilómetro; a partir de ahí el camino se estrechará para continuar por entre muros de cierre de fincas.</p>

		<p>Siguiendo este camino hasta enlazar con el PR-44 continuaremos a la izquierda en el cruce de pistas, ascendiendo hasta un banco de madera que hace las veces de hito kilométrico 5.</p>

		<p>En ese punto dejaremos el PR-44 para comenzar a subir hacia el Cogollín o Pico Espines (1008m).</p>

		<p>Desde la cumbre descenderemos hacia el Mayáu Porrín donde estará ubicado el primer avitullamiento.</p>

		<p>Continuaremos por el PR-44 durante medio kilómetro, lugar en el que nos desviaremos a la derecha para ascender el Pico Cogollo o Pico San Justo (1017m), techo del concejo de Langreo. Descenderemos en dirección este siguiendo la línea de cumbres durante 3 kilómetros con contínuos ascensos y descensos hasta llegar al cruce con la carretera LA-7, en el mismo alto.</p>

		<p>Desde ahí comenzaremos a subir una pendiente de más de 100m desnivel positivo en apenas medio kilómetro para llegar a la parte más alta del Pico las Cruces (955m).</p>

		<p>El recorrido sigue ahora dirección norte durante 1,5 km por la misma divisoria de aguas superando varias cotas en un trazado rompepiernas hasta llegar al avituallamiento sólido y líquido del Mayáu Miguel (859m).</p>

		<p>Aquí comenzaremos el primer descenso de cierta entidad del día, por el PR-AS-41, con un tramo delicado de escaleras y unos 2 km, tras el cual giraremos a la izquierda, dejando la pista principal para continuar por un estrecho sendero durante otros 3 km.</p>

		<p>Comienza otra vez el ascenso y, tras 1 km, desembocaremos en una pista de hormigón para continuar la subida dejando a mano derecha una edificación. Otra pista nos conducirá hasta un antiguo caserón donde, una vez superado, giraremos a la derecha para subir por un sendero hasta otra vivienda. Allí tomaremos nuevamente una empinada pista hacia la derecha por un bosque.</p>

		<p>Saldremos a la carretera LA-8 que cruzaremos para atravesar un paso entre dos viviendas y continuaremos por una pista ascendente seguida por otra bajada, rodearemos una finca cercada hasta llegar al PR AS-41/PR 44. Apenas unos metros después tomaremos la pista de hormigón que nos llevará a la cumbre del pico Rondiz (740m), donde estará situado el tercer avituallamiento de carrera.</p>

		<p>Aquí comienza el último descenso significativo del recorrido, alternando pistas y caminos vecinales, unas veces por bosques y otras entre fincas y pueblos. Se trata de llegar al fondo del valle, pero no está exento de algún repecho de subida que puede atragantarse a quien llegue justo a este punto.</p>

		<p>Tras cruzar la LA-8 por última vez a la altura del pueblo de El Fresnedal un fuerte descenso por el interior de un bosque nos conducirá a la antigua caja del ferrocarril (hoy restaurado para senderistas). Pasaremos muy próximos a las instalaciones del Pozo Samuño, accediendo a la parte alta del Plano Tilano, plano inclinado creado para que las vagonetas con el carbón pudieran salvar el importante desnivel que se presenta.</p>

		<p>Una vez abajo estaremos ante el Socavón Emilia, por donde deberemos internarnos para recorrer el que tal vez sea el kilómetro más llamativo de toda la prueba, adentrándonos por encima de las mismas vías del tren minero hasta una profundidad de más de 30 m bajo tierra... ¡para subir por una escalera otra vez hasta la superficie! Unos pocos metros más por las instalaciones del Ecomuseo Minero (Pozo San Luis) nos conducirán a la meta y nos permitirán disfrutar allí del último avituallamiento.</p>

		<p>Para terminar, es importante señalar que el tramo del túnel se encuentra debidamente iluminado, por lo que no es necesario transportar ningún tipo de linterna o frontal.</p>

		<h2>Track</h2>
		<iframe class="wikilocMap" frameBorder="0" scrolling="no" src="http://www.wikiloc.com/wikiloc/spatialArtifacts.do?event=view&id=13357916&measures=on&title=off&near=off&images=off&maptype=S" width="500" height="400"></iframe><div style="background-color:#fff;color:#777;font-size:11px;line-height:16px;">Powered by <a style="color:#06d;font-size:11px;line-height:16px;" target="_blank" href="http://www.wikiloc.com">Wikiloc</a></div>
	</div>
</div>