---
title: "Reglamento"
---

<div id="content-block">
	<h2>Reglamento V TVS y III TVxS 2022</h2>
	<p>Para toda cuestión referida a ambas distancias será de aplicación preferente el Reglamento de Competiciones Oficiales FEMPA 2022. En lo no dispuesto en el mismo, se aplicará el presente Reglamento:</p>

	<ol>
		<li>
			<p>Itinerario, avituallamientos y horarios de la carrera K11 (TVxS):</p>
			<p>La prueba, organizada por el Grupo de Montaña Cumbre Llangréu, con una longitud de 11 Km y un desnivel de 700 m de subida y otros tantos de bajada, discurrirá en el concejo de Langreo, con el siguiente recorrido:</p> 
			<p>Salida en la localidad de La Nueva (Langreo) - El Corralón - Pico Rondiz – Cabaños – Túnel Socavón Emilia – Meta en La Nueva (Langreo). </p>
			<p>La salida y llegada será en la localidad de La Nueva, dando comienzo a las 16:00 del 21 de septiembre de 2022 y se dispondrá de un máximo de 3:00 horas para completar el recorrido.</p> 
			<p>Durante la prueba existirán 3 avituallamientos:</p>
			<ul>
				<li>Km 4,2 Líquido (La Canga)</li>
				<li>Km 8,7 Líquido y sólido (Cabaños)</li>
				<li>Km 11 Líquido y Sólido (Meta en La Nueva)</li>
			</ul>
		</li>
		<li>
			<p>Itinerario, avituallamientos y horarios de la carrera de K22 (TVS):</p>
			<p>La prueba, organizada por el Grupo de Montaña Cumbre Llangréu, con una longitud de 22 Km y un desnivel de 1.500 m de subida y otros tantos de bajada, discurrirá en el concejo de Langreo y Mieres, con el siguiente recorrido:</p>
			<p>Salida en la localidad de La Nueva (Langreo) – Mayau Porrín - Pico Cogollo – Campa Urbies – Mayau Miguel - El Corralón - Pico Rondiz – Pozo Samuño – Túnel Socavón Emilia – Meta en La Nueva (Langreo).</p>
			<p>La salida y llegada será en la localidad de La Nueva, dando comienzo a las 09:00 del 22 de septiembre de 2022 y se dispondrá de un máximo de 5 horas para completar el recorrido. Durante la prueba existirán 4 avituallamientos:</p>
			<ul>
				<li>Km 3,5 Líquido (Inverniza)</li>
				<li>Km 9,8 Líquido y sólido (Alto La Mozqueta)</li>
				<li>Km 16,2 Líquido y sólido (Capilla)</li>
				<li>Km 22 Líquido y Sólido (La Nueva)</li>
			</ul>
		</li>
		<li>
			<p>No se proporcionará bebida en vasos desechables. Todos los restos y envoltorios generados del consumo de comida y bebida deberán ser depositados en los contenedores y/o bolsas de basuras habilitados para ello en los avituallamientos existentes a lo largo de todo el recorrido. El abandono de cualquier tipo de residuo fuera de estos puntos será castigado con la descalificación inmediata del corredor. Ambas pruebas discurren por un Espacio Protegido de la Red Natura 2000 de la Unión Europea y rogamos máximo respeto con el entorno y medio ambiente.</p> 
		</li>
		<li>
			<p>Se establecerán los siguientes controles máximos de paso desde la salida:</p>
			<ul>
				<li>
					<p>K22 (TVS): Mayau Miguel: 3 horas 15 minutos.</p>
				</li>
			</ul>
			<p>Los corredores que superen este límite horario serán neutralizados y llevados a meta según disponibilidad de la organización.</p>		
		</li>
		<li>
			<p>Los participantes en ambas distancias deberán ser mayores de 18 años, cumplidos con anterioridad al día de la prueba, salvo en la distancia de 11km que también podrán participar los mayores de 15 años, cumplidos con anterioridad al día de la prueba y siempre que hayan presentado la autorización correspondiente debidamente firmada por su padre/madre o tutor legal.</p>
		</li>
		<li>
			<p>Se establecen las siguientes categorías masculinas y femeninas, teniendo en consideración la edad a 31 de Diciembre del año 2022:</p> 

			<ul>
				<li>
					<p class="h4">K11 (TVxS)</p>
					<ul>
						<li>
							Cadete: 15 a 17 años, que no cumplan los 18 en el año 2022.
						</li>
						<li>
							Junior: 18 a 20 años, que no cumplan los 21 en el año 2022. 
						</li>
						<li>
							Sub 23: 21 a 23 años, que no cumplan los 24 en el año 2022.
						</li>
						<li>
							Senior: 24 a 39 años, que no cumplan los 40 en el año 2022. 
						</li>
						<li>
							Veterano A: 40 a 50 años, que no cumplan 51 en el año 2022.
						</li>
						<li>
							Veterano B: 51 años en adelante. 
						</li>
						<li>
							Absoluta: Mayores de 18 años (cumplidos con anterioridad al día de la prueba).
						</li>
					</ul>
				</li>
				<li>
					<p class="h4">K22 (TVS)</p>
					<ul>
						<li>
							Junior: 18 a 20 años, que no cumplan 21 en el año 2022. 
						</li>
						<li>
							Sub 23: 21 a 23 años, que no cumplan los 24 en el año 2022. 
						</li>
						<li>
							Senior: 24 a 39 años, que no cumplan los 40 en el año 2022.
						</li>
						<li>
							Veterano A: 40 a 50 años, que no cumplan 51 en el año 2022.
						</li>
						<li>
							Veterano B: 51 años en adelante. 
						</li>
						<li>
							Absoluta: Mayores de 18 años (cumplidos con anterioridad al día de la prueba). 
						</li>
					</ul>
				</li>
				<li>
					<p class="h4">Combinada</p>
					<ul>
						<li>
							Absoluta: Mayores de 18 años (cumplidos con anterioridad al día de la prueba).
						</li>
					</ul>
				</li>
			</ul>
			<p>*Se otorgará premio a cada uno de los tres primeros clasificados de cada categoría, además de premio al podio absoluto tanto en categoría masculina como femenina en ambas carreras (TVxS y TVS) y en la modalidad de combinada.</p>		
		</li>
		<li>
			<p>El número máximo de participantes en cada una de las pruebas será de 300, distribuyendo los mismos de la siguiente manera: </p>
			<ul>
				<li>
					<p class="h4">K11 (TVxS): </p>
					<p>250 dorsales individuales - 30 dorsales combinada - 20 dorsales reservados para compromisos organizativos </p>
				</li>
				<li>
					<p class="h4">K22 (TVS): </p>
					<p>250 dorsales individuales - 30 dorsales combinada - 20 dorsales reservados para compromisos organizativos</p>
				</li>
			</ul>
		</li>
		<li>
			<p>Durante la totalidad del recorrido de la prueba los participantes portarán el dorsal (junto con su chip identificador) en lugar plenamente visible, no permitiéndose el plegado o recorte del mismo. </p>
		</li>
		<li>
			<p>Se recomienda el uso de cortavientos y de calzado adecuado para este tipo de pruebas, así como el porteo de cantimploras o bidones para una adecuada hidratación entre los avituallamientos existentes. Se autoriza el uso de bastones, aunque no se podrán dejar y recoger durante la prueba. La responsabilidad del uso seguro de bastones recaerá exclusivamente sobre el corredor que los utilice. Los teléfonos de emergencia de la organización estarán impresos en el dorsal. En la bolsa del corredor cada participante recibirá una ficha con las pautas de seguridad que se deben llevar a cabo en caso de emergencia.</p>	
		</li>
		<li>
			<p>La organización se reserva el derecho de suspender la prueba o modificar el recorrido si las condiciones meteorológicas o de seguridad así lo aconsejasen, así ya sea antes del comienzo de la misma o durante la prueba. Igualmente, en caso necesario, se anunciaría por parte de la organización con antelación la obligatoriedad de adoptar alguna otra medida de seguridad adicional. Existen recorridos alternativos que en el caso de ser necesario usarlos se informará antes de la salida a los corredores.</p>
		</li>
		<li>
			<p>Por seguridad, aquellos corredores que decidan retirarse de la prueba durante el transcurso de la misma deberán comunicarlo a cualquiera de los controles de la organización que se encontrarán repartidos a lo largo del recorrido de ambas pruebas. En caso de desorientarse o salirse del recorrido, el corredor deberá avisar al número de teléfono que figura en el dorsal tratando de facilitar todas las indicaciones posibles para facilitar su localización. En caso de presenciar un accidente todos los corredores están obligados a prestar auxilio, así como a comunicar lo sucedido en el siguiente punto de control.</p>
		</li>
		<li>
			<p>En las travesías, carreteras y pistas de montaña en las que pudieran circular vehículos a motor los participantes deberán respetar el código de tráfico y seguridad vial. Siempre se transitará por los caminos marcados por la organización, no se podrá atajar ni tomar caminos alternativos al recorrido marcado por la organización. El incumplimiento de dicha norma podrá suponer la descalificación del corredor. </p>
		</li>
		<li>
			<p>La organización contará con los servicios de comunicaciones, transporte de emergencias, medios de Protección Civil y médico necesarios, no obstante los participantes asumen los riesgos derivados de una carrera en un entorno de media montaña que discurre por pasajes delicados y potencialmente peligrosos, declinando a la organización toda responsabilidad sobre los daños que a sí mismos o a terceros pudieran producirse, de igual modo que declaran estar físicamente aptos para la participación en la carrera.</p>
		</li>
		<li>
			<p>Las inscripciones podrán realizarse desde las 22:00 del 24 de Junio de 2022 hasta el 8 de septiembre de 2022 a las 22:00 o hasta agotar las plazas dispuestas por la organización en <a href="https://www.empa-t.com/inscripciones/" title="Ir a la web de Empa-t">www.empa-t.com</a>, toda la información detallada, modificaciones, perfil y resto de información de ambas pruebas están disponibles  en: <a href="http://www.trailvallesamuño.es/carrera/inscripcion.html" title="Ir a la página de inscripción">www.trailvalledesamuño.es</a></p>
		</li>
		<li>
			<p>Precio de inscripciones: </p>
			<ul>
				<li>
					<p class="h4">K11 (TVxS)</p>
					<p>Federado 14€. No federado 17€ (incluye seguro de día).</p>
				</li>
				<li>
					<p class="h4">K22 (TVS)</p>
					<p>Federado 24€. No federado 27€ (incluye seguro de día). </p>
				</li>
				<li>
					<p class="h4">Combinada</p>
					<p>Federado 35€. No federado 38€ (incluye seguros para los 2 días).</p>
				</li>
			</ul>
			<p>Con la inscripción cada corredor recibirá una bolsa de corredor y un obsequio “finisher” en caso de finalizar la prueba. </p>
			<p>La organización habilitará un servicio de duchas para los corredores.</p>
		</li>
		<li>
			<p>Dentro del periodo de inscripciones en caso de lesión o problemas sobrevenidos tras formalizar la inscripción, la organización se compromete a facilitar el cambio con una persona de la lista de espera si la hubiese, pero <strong>NO</strong> se reintegrará bajo ningún concepto el importe de la inscripción. Este trámite se realizará <strong>SIEMPRE</strong> por parte de la organización y <strong>NUNCA</strong> entre particulares directamente.</p>
			<p>Los dorsales son de uso personal e intransferible. La recogida del mismo queda supeditada a la presentación por parte del corredor del correspondiente D.N.I junto con la licencia federativa (si procediese) ambos documentos en vigor. No se permite la retirada de dorsales por terceras personas independientemente del vínculo o parentesco que tengan con el corredor. El uso de un dorsal por cualquier otra persona, diferente del titular del mismo, conllevará la expulsión y descalificación inmediata de la prueba así como la pérdida de la totalidad de las coberturas y derechos ofrecidos por la organización. </p>
		</li>
		<li>
			<p>La entrega de dorsales se realizará en la Asociación de Vecinos de la localidad de La Nueva (Langreo) para ambas carreras, será el mismo día de las pruebas y dentro de los siguientes horarios:</p> 
			<ul>
				<li>
					<p class="h4">K11 (TVxS) y Combinada:</p> 
					<p>Entre las 14:00h y las 15:30h del 21 de Septiembre de 2022.</p>
				</li>
				<li>
					<p class="h4">K22 (TVS):</p> 
					<p>Entre las 7:00h y las 8:30h del 22 de Septiembre de 2022. </p>
				</li>
			</ul>
		</li>
		<li>
			<p>La formalización de la inscripción en cualquiera de las modalidades y distancias y por consiguiente la participación en las mismas acredita el conocimiento, aceptación y por ende la correspondiente asunción del presente reglamento, descargo responsabilidad, así como de las normas que lo configuran por parte del participante. Cualquier incumplimiento de las mismas acarreará la inmediata descalificación del corredor así como la perdida de todos los derechos y coberturas adquiridos por el mismo y ofertados por parte de la organización del evento. </p>
		</li>
	</ol>
</div>