---
title: "Reglamento - "
---

<div id="content">
	<div class="row">
		<h2>Reglamento</h2>
		<p>Para toda cuestión, será de aplicación preferente el Reglamento de Competiciones Oficiales FEMPA 2015. En lo no dispuesto en el mismo, se aplicará el siguiente reglamento:</p>

		<ol>
			<li>
				<p>La prueba, organizada por el Grupo de Montaña Cumbre Llangréu, con una longitud de 22 Km y un desnivel de 1.500 m de subida y otros tantos de bajada, discurrirá en el concejo de Langreo, con el siguiente recorrido: salida en La Nueva - Pico Cogollín - Mayáu Porrín - Pico Cogollo - Campa Urbiés - Mayáu Miguel - Pico El Rondiz - El Corralón - Pozo Samuño - Socavón Emilia (túnel del tren minero) - meta en La Nueva.</p>

				<p>La salida y llegada será en La Nueva a las 9:00 del 11 de septiembre de 2016 y se dispondrá de un máximo de 5 horas para completar el recorrido.</p>

				<p>El recorrido estará señalizado con trozos de cinta de plástico de colores y banderines, y se dispondrán de controles de pasos obligatorios, pudiendo ser descalificado quienes no pasen por ellos.</p>
			</li>

			<li>
				<p>Durante la prueba existirán 4 avituallamientos:</p>
				<ul>
					<li>Km 6 Líquido (Mayau Porrín)</li>
					<li>Km 12,5 Liquido y sólido (Mayau Miguel)</li>
					<li>Km 18 Liquido (Rondiz)</li>
					<li>Km 22 Líquido y Sólido (La Nueva)</li>
				</ul>
				
				<p>Sólo se proporcionará bebida en vasos que no podrán sacarse de la zona de avituallamiento, y los recipientes y demás restos deberán ser tirados a los contenedores habilitados para ello en la misma zona de avituallamiento, el abandono de cualquier tipo de residuo fuera de esta zona será castigado con la descalificación del corredor.</p>
			</li>

			<li>
				<p>Se establecerán los siguientes controles máximos de paso desde la salida: Mayáu Miguel: 3 horas 30 minutos y Pozo de Samuño 4 horas 50 minutos. Quienes superen estos horarios serán neutralizados y transportados a meta según disponibilidad de la organización.</p>

				<p>Además existirá un corredor escoba que recorrerá la prueba en el ritmo mínimo necesario para finalizar la prueba en 5 horas, este corredor escoba tendrá potestad para informar, si lo ve preciso, que un corredor está fuera de carrera debido a que su ritmo o estado físico indicara que no pudiera acabar la carrera dentro del tiempo marcado.</p>

				<p>Los corredores que queden fuera de carrera deberán entregar el chip y dorsal a miembros de la organización y esperar a ser transportado a meta en los puntos indicados por la organización o volver por medios propios bajo su responsabilidad.
				</p>
			</li>

			<li>
				<p>Los participantes deberán ser mayores de 18 años, cumplidos el mismo año que se disputa la prueba (nacidos en 1998 o anteriores).</p>
			</li>

			<li>
				<p>Se establecen las siguientes categorías tanto masculinas como femeninas:</p>

				<ul>
					<li>Promesa: &lt; 23 años, que no cumplan los 24 en el año 2016.</li>
					<li>Senior: 24 a 40 años, que no cumplan los 41 en el año 2016.</li>
					<li>Veterano A: 41 a 50 años, que no cumplan 51 en el año 2016.</li>
					<li>Veterano B: 51 años en adelante.</li>
				</ul>
				<p>Se otorgará premio a cada uno de los tres primeros clasificados de cada categoría, además de premio al campeón absoluto tanto en categoría masculina como femenina, independientemente de la edad.</p>
			</li>
			<li>
				<p>El número máximo de participantes será de 300. La organización se reserva 50 de esos dorsales para compromisos, los otros 250 se otorgarán por riguroso orden de inscripción.</p>
			</li>
			<li>
				<p>Durante la totalidad del recorrido de la prueba los participantes portarán el dorsal (junto con su chip identificador) en un lugar plenamente visible, no permitiéndose el plegado o recorte del mismo.</p>
			</li>
			<li>
				<p>Se recomienda el uso de ropas cortavientos y del calzado adecuado para este tipo de pruebas, así como el uso de cantimploras tipo Camelback para una adecuada hidratación. Se autoriza el uso de bastones bajo la responsabilidad de cada usuario. Los teléfonos de emergencia de la organización estarán impresos en el dorsal, y, junto con el dorsal, cada participante recibirá una ficha con las recomendaciones de seguridad.</p>
			</li>
			<li>
				<p>La organización se reserva el derecho de suspender o modificar el recorrido si las condiciones meteorológicas o de seguridad así lo aconsejan, ya sea antes o durante la prueba. Igualmente, en caso necesario, se anunciaría con antelación la obligatoriedad de adoptar alguna otra medida de protección.
				</p>
				<p>Existe un recorrido alternativo que en el caso de ser necesario usarlo se informará antes de la salida a los corredores.</p>
			</li>
			<li>
				<p>Por seguridad, aquellos que decidan retirarse de la prueba lo comunicarán a uno de los controles de la organización. Para extravíos, en el dorsal figura el número de teléfono para la coordinación de recogida de retirados. En caso de accidente todos los atletas están obligados a prestar auxilio, así como a comunicarlo al siguiente puesto de control.
				</p>
			</li>
			<li>
				<p>Las travesías, carreteras y pistas de montaña en las que pudieran circular vehículos, los participantes deberán respetar las normas de circulación generales de dicha vía, siempre se circulará por los caminos marcados por la organización, no se podrá atajar ni tomar caminos alternativos, el incumplimiento de dicha norma podrá suponer la descalificación del corredor.
				</p>
			</li>
			<li>
				<p>La organización contará con los servicios de comunicaciones y transporte de emergencias de Protección Civil y un médico, pero los participantes asumen los riesgos derivados de una carrera en un entorno de media montaña que discurre por pasajes delicados y potencialmente peligrosos, declinando la organización toda responsabilidad sobre los daños que a sí mismos o a terceros pudieran producirse, de igual modo que se declaran aptos físicamente hablando para la participación en la carrera. A tal efecto, a la recogida del dorsal habrá de firmarse un documento de descarga de responsabilidades.</p>
			</li>
			<li>
				<p>Las inscripciones podrán realizarse desde el 1 de julio en <a href="www.empa-t.com" title="Ir a la web de inscripción">www.empa-t.com</a>, toda la información detallada, modificaciones, perfil etc, se podrá encontrar en <a href="www.trailvallesamuño.es" title="Ir a la página de inicio de la carrera">www.trailvallesamuño.es</a>.</p>
			</li>
			<li>
				<p>Precio inscripción: Federado 18 euros. No federado 22 euros –incluye seguro de día-. En caso de lesión o problemas sobrevenidos tras formalizar la inscripción, la organización se compromete a facilitar el cambio con una persona de la lista de espera si la hubiere, pero NO se reintegrará el importe de la inscripción. Este proceso se realizará SIEMPRE por parte de la organización y NUNCA entre particulares directamente.</p>
				<p>Los dorsales son de uso personal e intransferible. La recogida del mismo quedará supeditada a la presentación por parte del corredor del correspondiente D.N.I junto con la licencia federativa (si procediese) ambos documentos en vigor. No se permite la retirada de dorsales por terceras personas independientemente del vínculo o parentesco que tengan con el corredor. El uso de un dorsal por cualquier otra persona, diferente del titular del mismo, conllevará la expulsión y descalificación inmediata de la prueba así como la pérdida de la totalidad de las coberturas ofrecidas por la organización.</p>
				<p>Además, con la inscripción cada corredor recibirá un detalle de la carrera y una invitación para la “espicha” al final de la misma.</p>
				<p>La entrega de dorsales se realizará el día 10 de septiembre en las dependencias de la AAVV de La Nueva, y el propio día de la carrera hasta 45 minutos antes del comienzo de la misma.</p>
			</li>
			<li>
				<p>La organización dispondrá servicio de guardarropa, la localización de ambos lugares se indicará en <a href="www.trailvallesamuño.es" title="Ir a la página de inicio de la carrera">www.trailvallesamuño.es</a>.</p>
			</li>
			<li>
				<p>Serán motivos de descalificación o sanción el incumplimiento de las normas del Reglamento de Competiciones Oficiales FEMPA, teniendo especial atención las siguientes acciones:</p>
				<ul>
					<li>No prestar asistencia a corredores accidentados</li>
					<li>El uso de material no reglamentado</li>
					<li>La asistencia externa fuera de los lugares que la organización destinará a tal efecto</li>
					<li>El incumplimiento de las indicaciones del personal de la organización</li>
					<li>El utilizar caminos alternativos a los marcados por la organización</li>
					<li>No cumpliar las normas de circulación en los tramos comunes con vehículos</li>
					<li>Arrojar basura al suelo</li>
					<li>Competir con el dorsal de otro corredor</li>
					<li>No respetar las zonas indicadas como “peligrosas” poniendo en peligro a otros corredores con ello</li>
				</ul>
			</li>
			<li>
				<p>La organización declina toda responsabilidad en caso de accidente, negligencia o daños que puedan recibir o producir los participantes, exonerando a la organización de toda responsabilidad.</p>
			</li>
			<li>
				<p>Cualquier cambio del reglamento será informado en <a href="www.trailvallesamuño.es" title="Ir a la página de inicio de la carrera">www.trailvallesamuño.es</a> antes de la prueba.</p>
			</li>
			<li>
				<p>La formalización de la inscripción en la citada prueba y por consiguiente la participación en la misma acredita el conocimiento, aceptación y por ende la correspondiente asunción del presente reglamento así como de las normas que lo configuran. Cualquier incumplimiento de las mismas acarreará la inmediata descalificación del corredor así como de todos los derechos y coberturas adquiridos por el corredor por parte de la organización del evento.</p>
			</li>
	</div>
</div>