---
title: "Reglamento"
---

<div id="content-block">
	<h2>Reglamento</h2>
	<p><b>Horario</b>: La prueba constará de dos distancias, una de 24 Km que dará comienzo a las 09:00h y finalizará a las 14:00h, mientras que otra de 11 Km dará comienzo a las 10:30h y finalizará a las 14:00h.</p>
	<p>Para toda cuestión, será de aplicación preferente el Reglamento de Competiciones Oficiales FEMPA 2018. En lo no dispuesto en el mismo, se aplicará el siguiente reglamento:</p>

	<ol>
		<li>
			<p>Itinerario, horarios y avituallamientos de la carrera de 24 km:</p>
			<p>La prueba, organizada por el Grupo de Montaña Cumbre Llangréu, con una longitud de 24 Km y un desnivel de 1.650 m de subida y otros tantos de bajada, discurrirá en el concejo de Langreo y Mieres, con el siguiente recorrido: salida en La Nueva – Mayau Porrín - Pico Cogollo – Campa Urbiés – Mayau Miguel - El Corralón - Pico Rondiz – Pozo Samuño – Túnel Cadavío – y Meta en La Nueva (Langreo).</p>
			<p>La salida y llegada será en La Nueva a las 09:00 del 23 de septiembre de 2018 y se dispondrá de un máximo de 5 horas para completar el recorrido.</p>
			
			<p>Durante la prueba existirán 4 avituallamientos:</p>

			<ul>
				<li>Km 6 Líquido (Mayau Porrín)</li>
				<li>Km 12,5 Liquido y sólido (Mayau Miguel)</li>
				<li>Km 20 Liquido (Rondiz)</li>
				<li>Km 24 Líquido y Sólido (La Nueva)</li>
			</ul>			
		</li>

		<li>
			<p>Itinerario, horarios y avituallamientos de la carrera de 11km:</p>
			<p>La prueba, organizada por el Grupo de Montaña Cumbre Llangréu, con una longitud de 11 Km y un desnivel de 700 m de subida y otros tantos de bajada, discurrirá por el concejo de Langreo, con el siguiente recorrido: salida en La Nueva - El Corralón - Pico Rondiz – Pozo Samuño – Túnel Cadavío – y Meta en La Nueva (Langreo).</p>
			<p>La salida y llegada será en La Nueva a las 10:30 del 23 de septiembre de 2018 y se dispondrá de un máximo de 3:30 horas para completar el recorrido.</p>
			<p>Durante la prueba existirán 2 avituallamientos:</p>

			<ul>
				<li>Km 6,7 Liquido y sólido (Rondiz)</li>
				<li>Km 11 Líquido y Sólido (La Nueva)</li>
			</ul>
		</li>
		
		<li>
			<p>Sólo se proporcionará bebida en vasos que no podrán sacarse de la zona de avituallamiento, y los recipientes y demás restos deberán ser tirados a los contenedores habilitados para ello en la misma zona de avituallamiento, el abandono de cualquier tipo de residuo fuera de esta zona será castigado con la descalificación del corredor. Informamos a todos los corredores que la prueba discurrirá por un espacio protegido y rogamos máximo respeto con el entorno.</p>
		</li>
		
		<li>
			<p>Se establecerán los siguientes controles máximos de paso desde la salida:</p>
			<p>Para la prueba de 24 Km:</p>
			<p>Mayau Miguel: 3 horas 15 minutos.</p>
			<p>Quienes superen estos horarios serán neutralizados y transportados a meta según disponibilidad de la organización.</p>
		</li>
		
		<li>
			<p>Los participantes deberán ser mayores de 18 años, cumplidos el mismo año que se disputa la prueba (nacidos de 2000 en adelante).</p>
		</li>
		
		<li>
			<p>Se establecen las siguientes categorías para ambas distancias:</p>
			<p>Tanto en Masculinos como Femeninos:</p>
			<ul>
				<li><b>Promesa:</b> 21 a 23 años, que no cumplan los 24 en el año 2018.</li>
				<li><b>Senior:</b> 24 a 40 años, que no cumplan los 41 en el año 2018. </li>
				<li><b>Veterano A:</b> 41 a 50 años, que no cumplan 51 en el año 2018.</li>
				<li><b>Veterano B:</b> 51 años en adelante.</li>
				<li>Se otorgará en ambas carreras premio a cada uno de los tres primeros clasificados de cada categoría, además de premio al podio absoluto tanto en categoría Masculina como Femenina (solo K24), independientemente de la edad.</li>
			</ul>
		</li>
		
		<li>
			<p>El número máximo de participantes en el cómputo de ambas pruebas será de 300 (Pendiente autorización para aumentar el número de participantes). La organización se reserva 20 de esos dorsales para compromisos, los otros 280 se otorgarán por riguroso orden de inscripción.</p>
		</li>
		
		<li>
			<p>Durante la totalidad del recorrido de la prueba los participantes portarán el dorsal (junto con su chip identificador) en lugar plenamente visible, no permitiéndose el plegado o recorte del mismo.</p>
		</li>
		
		<li>
			<p>Se recomienda el uso de ropas cortavientos y del calzado adecuado para este tipo de pruebas, así como el uso de cantimploras tipo Camelback para una adecuada hidratación. Se autoriza el uso de bastones, aunque no se podrán dejar y recoger durante la prueba y siempre bajo la responsabilidad de cada usuario. Los teléfonos de emergencia de la organización estarán impresos en el dorsal, y junto con el dorsal, cada participante recibirá una ficha con las recomendaciones de seguridad.</p>
		</li>
		
		<li>
			<p>La organización se reserva el derecho de suspender o modificar el recorrido si las condiciones meteorológicas o de seguridad así lo aconsejan, ya sea antes o durante la prueba. Igualmente, en caso necesario, se anunciaría con antelación la obligatoriedad de adoptar alguna otra medida de protección. Existe un recorrido alternativo que en el caso de ser necesario usarlo se informará antes de la salida a los corredores.</p>
		</li>
		
		<li>
			<p>Por seguridad, aquellos que decidan retirarse de la prueba lo comunicarán a uno de los controles de la organización. Para extravíos, en el dorsal figura el número de teléfono para la coordinación de recogida de retirados. En caso de accidente todos los atletas están obligados a prestar auxilio, así como a comunicarlo al siguiente puesto de control.</p>
		</li>
		
		<li>
			<p>Las travesías, carreteras y pistas de montaña en las que pudieran circular vehículos, los participantes deberán respetar las normas de circulación generales de dicha vía, siempre se circulará por los caminos marcados por la organización, no se podrá atajar ni tomar caminos alternativos, el incumplimiento de dicha norma podrá suponer la descalificación del corredor.</p>
		</li>
		
		<li>
			<p>La organización contará con los servicios de comunicaciones, transporte de emergencias, Protección Civil y un médico, pero los participantes asumen los riesgos derivados de una carrera en un entorno de media montaña que discurre por pasajes delicados y potencialmente peligrosos, declinando la organización toda responsabilidad sobre los daños que a si mismos o a terceros pudieran producirse, de igual modo que se declaran aptos físicamente hablando para la participación en la carrera. A tal efecto, a la recogida del dorsal habrá de firmarse un documento de descarga de responsabilidades.</p>
		</li>
		
		<li>
			<p>Las inscripciones podrán realizarse desde el 3 de julio en <a href="http://www.empa-t.com" title="Ir a inscribirse a la web">www.empa-t.com</a>, toda la información detallada, modificaciones, perfil, etc, se puede consultar en <a href="http://www.trailvallesamuño.es" title="Ir a inicio">www.trailvallesamuño.es</a>.</p>
		</li>
		
		<li>
			<p>Precio de inscripciones:</p>
			<p>Prueba de 24 Km:</p>
			<ul>
				<li>Federado 22 euros. No federado 25 euros (incluye seguro de día).</li>
				<li>Prueba de 11 KM: Federado 14 euros. No federado 17 euros (incluye seguro de día).</li>
			</ul>
		</li>
		
		<li>
			<p>En caso de lesión o problemas sobrevenidos tras formalizar la inscripción, la organización se compromete a facilitar el cambio con una persona de la lista de espera si la hubiere, pero NO se reintegrará el importe de la inscripción. Este proceso se realizará SIEMPRE por parte de la organización y NUNCA entre particulares directamente. Los dorsales son de uso personal e intransferible. La recogida del mismo queda supeditada a la presentación por parte del corredor del correspondiente D.N.I junto con la licencia federativa(si procediese) ambos documentos en vigor. No se permite la retirada de dorsales por terceras personas independientemente del vínculo o parentesco que tengan con el corredor. El uso de un dorsal por cualquier otra persona, diferente del titular del mismo, conllevará la expulsión y descalificación inmediata de la prueba así como la pérdida de la totalidad de las coberturas ofrecidas por la organización.</p>
			<p>Además con la inscripción cada corredor recibirá un detalle de la carrera y un obsequio <em>finisher</em> al finalizar la prueba.</p>
		</li>
		
		<li>
			<p>La entrega de dorsales se realizará el día 22 de Septiembre en la Asociación de Vecinos de La Nueva para ambas carreras, y el propio día de las carreras se establecen los siguientes horarios:</p>
			<ul>
				<li>Carrera de 24 Km desde las 7:00h hasta las 8:30h</li>
				<li>Carrera de 11 Km desde las 9:15h hasta las 10.15h</li>
			</ul>
		</li>
		
		<li>
			<p>La organización dispondrá servicio de duchas cuya localización se indicarán en <a href="http://www.trailvallesamuño.es" title="Ir a inicio">www.trailvallesamuño.es</a>.</p>
		</li>
		
		<li>
			<p>La formalización de la inscripción en la citada prueba y por consiguiente la participación en la misma acredita el conocimiento, aceptación y por ende la correspondiente asunción del presente reglamento así como de las normas que lo configuran. Cualquier incumplimiento de las mismas acarreará la inmediata descalificación del corredor así como la pérdida de todos los derechos y coberturas adquiridos por el corredor a través de la organización del evento.</p>
		</li>
		
	</ol>
</div>