---
title: "Reglamento"
---

<div id="content-block">
	<h2>Reglamento</h2>
	<p>Para toda cuestión, será de aplicación preferente el Reglamento de Competiciones Oficiales FEMPA 2017. En lo no dispuesto en el mismo, se aplicará el siguiente reglamento:</p>

	<ol>
		<li>
			<p>La prueba, organizada por el Grupo de Montaña Cumbre Llangréu, con una longitud de 23 Km y un desnivel de 1.500 m de subida y otros tantos de bajada, discurrirá en el concejo de Langreo, con el siguiente recorrido: salida en La Nueva - Pico Cogollín - Mayáu Porrín - Pico Cogollo - Campa Urbiés - Mayáu Miguel - El Corralón - Pico El Rondiz - Pozo Samuño - Socavón Emilia (túnel del tren minero) - meta en La Nueva.</p>

			<p>La salida y llegada será en La Nueva, dándose la salida a las 9:00 del 10 de septiembre de 2017. Se dispondrá de un máximo de 5 horas para completar el recorrido.</p>
		</li>

		<li>
			<p>Durante la prueba existirán 4 avituallamientos:</p>

			<ul>
				<li>Km 6 Líquido (Mayau Porrín)</li>
				<li>Km 12,5 Liquido y sólido (Mayau Miguel)</li>
				<li>Km 18 Liquido (Rondiz)</li>
				<li>Km 23 Líquido y Sólido (La Nueva)</li>
			</ul>

			<p>Sólo se proporcionará bebida en vasos que no podrán sacarse de la zona de avituallamiento. Los residuos o sobrantes (recipientes, envases, etc) deberán ser depositados en los contenedores habilitados para ello en la misma zona de avituallamiento. El abandono de cualquier tipo de residuo fuera de este emplazamiento será castigado con la descalificación del corredor. Informamos a todos los corredores que la prueba discurrirá por un espacio protegido y rogamos máximo respeto con el entorno.</p>
		</li>

		<li>
			<p>Se establecerán los siguientes controles de tiempo máximos de paso desde la salida: </p>

			<ul>
				<li>Mayáu Porrín: 1h 45 minutos.</li>
				<li>Mayáu Miguel: 3 horas 30 minutos (desde la hora de salida 09:00).</li>
			</ul>

			<p>Quienes superen estos horarios serán neutralizados y transportados a meta según disponibilidad de la organización.</p>
		</li>

		<li>
			<p>Los participantes deberán ser mayores de 21 años, cumplidos el año el mismo año que se disputa la prueba (nacidos de 1996 en adelante):</p>
		</li>

		<li>
			<p>Se establecen las siguientes categorías tanto masculinas como femeninas:</p>

			<ul>
				<li>Promesa: 21 a 23 años, que no cumplan los 24 en el año 2017.</li>
				<li>Senior: 21 a 40 años, que no cumplan los 41 en el año 2017.</li>
				<li>Veterano A: 41 a 50 años, que no cumplan 51 en el año 2017.</li>
				<li>Veterano B: 51 años en adelante.</li>
			</ul>

			<p>Se otorgará premio a cada uno de los tres primeros clasificados de cada categoría, además de premio al campeón absoluto tanto en categoría Masculina como Femenina, independientemente de la edad.</p>

			<p>Este últimos dos premios pueden ser acumulables al resto de premios.</p>
		</li>

		<li>
			<p>El número máximo de participantes será de 300. La organización se reserva 20 de esos dorsales para compromisos, los otros 280 se otorgarán por riguroso orden de inscripción.</p>
		</li>

		<li>
			<p>Durante la totalidad del recorrido de la prueba los participantes portarán el dorsal (junto con su chip identificador) en un lugar plenamente visible, no permitiéndose el plegado o recorte del mismo.</p>
		</li>

		<li>
			<p>Se recomienda el uso de ropas cortavientos y del calzado adecuado para este tipo de pruebas, así como el uso de cantimploras tipo Camelback para una adecuada hidratación. Se autoriza el uso de bastones, aunque no se podrán dejar y recoger durante la prueba y siempre bajo la responsabilidad de cada usuario. Los teléfonos de emergencia de la organización estarán impresos en el dorsal, y, junto con el dorsal, cada participante recibirá una ficha con las recomendaciones de seguridad.</p>
		</li>

		<li>
			<p>La organización se reserva el derecho de suspender o modificar el recorrido si las condiciones meteorológicas o de seguridad así lo aconsejan, ya sea antes o durante la prueba. Igualmente, en caso necesario, se anunciaría con antelación la obligatoriedad de adoptar alguna otra medida de protección. Existe un recorrido alternativo que en el caso de ser necesario usarlo se informará antes de la salida a los corredores.</p>
		</li>

		<li>
			<p>Por seguridad, aquellos que decidan retirarse de la prueba lo comunicarán a uno de los controles de la organización. Para extravíos, en el dorsal figura el número de teléfono para la coordinación de recogida de retirados. En caso de accidente todos los atletas están obligados a prestar auxilio, así como a comunicarlo al siguiente puesto de control.</p>
		</li>

		<li>
			<p>Las travesías, carreteras y pistas de montaña en las que pudieran circular vehículos, los participantes deberán respetar las normas de circulación generales de dicha vía, siempre se circulará por los caminos marcados por la organización, no se podrá atajar ni tomar caminos alternativos, el incumplimiento de dicha norma podrá suponer la descalificación del corredor.</p>
		</li>

		<li>
			<p>La organización contará con los servicios de comunicaciones, Protección Civil, transporte de emergencias y un médico, pero los participantes asumen los riesgos derivados de una carrera en un entorno de media montaña que discurre por pasajes delicados y potencialmente peligrosos, declinando la organización toda responsabilidad sobre los daños que a si mismos o a terceros pudieran producirse, de igual modo que se declaran aptos físicamente hablando para la participación en la carrera. A tal efecto, a la recogida del dorsal habrá de firmarse un documento de descarga de responsabilidades.</p>
		</li>

		<li>
			<p>Las inscripciones podrán realizarse desde el 16 de junio en <a href="http://www.empa-t.com/" title="Ir al sitio web de Empa-t">www.empa-t.com</a>, toda la información detallada, modificaciones, perfil etc, se podrá encontrar en <a href="http://www.trailvallesamuño.es" title="Ir a la página de inicio">www.trailvallesamuño.es</a>.</p>
		</li>

		<li>
			<p>Precio inscripción: </p>
			<ul>
				<li>Federado: 20 euros. </li>
				<li>No federado: 30 euros (incluye seguro de accidentes de un día). </li>
			</ul>
			<p>Durante los primeros 15 días del periodo de inscripciones tendrán prioridad los corredores federados para formalizar la inscripción hasta completar el 80% de las plazas, así mismo de completar dicho porcentaje antes de finalizar los 15 días preceptivos, podrán formalizar la inscripción todos los corredores que lo deseen, tanto federados como no federados.</p>

			<p>En caso de lesión o problemas sobrevenidos tras formalizar la inscripción, la organización se compromete a facilitar el cambio con una persona de la lista de espera si la hubiere, pero <b>NO</b> se reintegrará el importe de la inscripción. Este proceso se realizará <b>SIEMPRE</b> por parte de la organización y <b>NUNCA</b> entre particulares directamente.</p>

			<p>Los dorsales son de uso personal e intransferible. La recogida del mismo queda supeditada a la presentación por parte del corredor del correspondiente D.N.I junto con la licencia federativa(si procediese) ambos documentos en vigor. No se permite la retirada de dorsales por terceras personas independientemente del vínculo o parentesco que tengan con el corredor. El uso de un dorsal por cualquier otra persona, diferente del titular del mismo, conllevará la expulsión y descalificación inmediata de la prueba así como la pérdida de la totalidad de las coberturas ofrecidas por la organización. Además con la inscripción cada corredor recibirá un detalle de la carrera y un obsequio “finisher” al finalizar la prueba.</p>
		</li>

		<li>
			<p>La entrega de dorsales se realizará el día 9 de septiembre en el Pozo San Luis de La Nueva, y el propio día de la carrera hasta 45 minutos antes del comienzo de la misma.</p>
		</li>
		
		<li>
			<p>La organización dispondrá servicio de guardarropa, la localización de ambos lugares se indicará en la página web del evento <a href="http://www.trailvallesamuño.es" title="Ir a la página de inicio">www.trailvallesamuño.es</a>.</p>
		</li>

		<li>
			<p>La formalización de la inscripción en la citada prueba y por consiguiente la participación en la misma acredita el conocimiento, aceptación y por ende la correspondiente asunción del presente reglamento así como de las normas que lo configuran. Cualquier incumplimiento de las mismas acarreará la inmediata descalificación del corredor así como de todos los derechos y coberturas adquiridos por el corredor por parte de la organización del evento. La organización se guarda el derecho de uso de los datos aportados en la inscripción con el único objetivo de trasladar al corredor información deportiva/publicitaria que pueda ser de su interés.</p>
		</li>
	</ol>
</div>