---
title: Roadbook - Trail Valle de Samuño
---

<div id="content">
	<div class="row">
		<h2>Roadbook</h2>
		<p>Próximamente se publicará el roadbook o rutómetro con las indicaciones de los puntos más significativos de la carrera</p>
	</div>
</div>